<article class="container" gdColumns="1fr 1.4fr" gdColumns.lt-sm="1fr" gdGap="3.125rem" gdGap.lt-sm="2rem">

  <div fxLayout="column" fxLayoutGap="1.5rem">
    <div fxLayoutAlign="center space-between" fxLayoutGap="1.25rem">
      <agl-heading second="Distance Learning"></agl-heading>

      <agl-button-download>DOWNLOAD<BR>TRAINING<BR>PORTFOLIO</agl-button-download>
    </div>

    <div class="" gdGap="2rem">
      <div class="__step">
        <h3 class="__step-capt"><span>Selling Point 01</span></h3>
        <p>Stuae quo sunt excelsiores, eo dant indicia naturae. Causa autem fuit huc veniendi ut clariora quosdam
          hinc.</p>
      </div>

      <div class="__step">
        <h3 class="__step-capt">Selling Point 01</h3>
        <p>Stuae quo sunt excelsiores, eo dant indicia naturae. Causa autem fuit huc veniendi ut clariora quosdam
          hinc.</p>
      </div>

      <div class="__step">
        <h3 class="__step-capt">Selling Point 01</h3>
        <p>Stuae quo sunt excelsiores, eo dant indicia naturae. Causa autem fuit huc veniendi ut clariora quosdam
          hinc.</p>
      </div>
    </div>

    <div gdGridAlign="center center">
      <agl-button class="--yellow-orange">View All Courses</agl-button>
    </div>
  </div>

  <div class="__video" fxLayout="column">
    <span class="__video-t-c" fxLayoutAlign="center"></span>
    <div class="__video-cont" fxFlex="1 1">
    </div>
  </div>
</article>
