@import 'core';

:host {
  display: inline-flex;
  align-items: center;

  width: var(--btn-wdh, 100%);
  min-height: var(--btn-hgt, rem(29));

  outline: none;

  &.--close {
  }

  &.--upload {
    .__button {
      width: rem(50);
      height: rem(50);

      line-height: 1;

      color: var(--cl-pale-violet);

      background: transparent;

      &:before {
        @include pseudo-icon($agi-upload, 50)
      }
    }
  }

  &.--orange {
    --btn-bg: var(--cl-orange);
  }

  &.--yellow-orange {
    --btn-bg: var(--cl-yellow-orange);
  }

  &.--nowrap {
    .__button {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden
    }
  }

  //* Disabled styles

  &.--disabled,
  & > .__button:disabled {
    opacity: $disabled-opacity;

    pointer-events: none !important;
  }

  &.--disabled > .__button,
  & > .__button:disabled {
    color: $button-primary-disabled-color !important;

    background: $button-primary-disabled-bg-color !important;
  }
}

.__button {
  width: inherit;
  height: auto;
  min-height: inherit;
  min-width: var(--btn-min-wdh, rem(110));

  padding: var(--btn-pdd, #{0 rem(16)});

  font-family: $font-family-primary;
  font-size: var(--btn-font-size, rem(16));
  font-weight: bold;
  letter-spacing: -0.8px;
  color: var(--cl-white);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;

  border-radius: var(--btn-rd, $elemRadiusSmall);
  background: var(--btn-bg, var(--cl-bluey-grey));
  border: none;

  user-select: none;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

@include max-wide(phones) {
  :host {
    &.--mobile-over-text {
      &,
      .__button {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

@include only-mouse {
  :host {
    &.--upload {
      .__button:hover {
        color: var(--cl-yellow-orange);
      }
    }
  }

  .__button {
    transition: $button-transition;
    will-change: transform;

    &:hover {
      background-color: var(--cl-yellow-orange);
    }

    &:active {
      transform: var(--btn-transform, translate(0, 2px));
    }
  }
}

@include only-touch {
  :host {

  }
}

@include keyframes(button-touch) {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 2px);
  }

  100% {
    transform: translate(0, 0);
  }
}
