<div class="container" gdGap="2.125rem">
  <header class="__top" fxLayoutAlign="space-between">
    <agl-heading>Our Most Popular Certified Courses</agl-heading>

    <agl-button routerLink="/services">View All Courses</agl-button>
  </header>

  <div class="__list"
       gdGap="1.875rem"
       gdGap.gt-sm="1.5rem"
       gdColumns="repeat(auto-fit, minmax(23.125rem, 1fr))"
       gdColumns.lt-sm="repeat(auto-fit, minmax(23.125rem, 1fr))">
    <agl-popular-card *ngFor="let item of list"
                      [caption]="item.capt"
                      [description]="item.desc"
                      [logo]="item.logo"
                      [image]="item.img"
    ></agl-popular-card>
  </div>
</div>
