@font-face {
  font-family: $font-family-tertiary;
  src: url('#{$font-path}/Halenoir/HalenoirCompact-BlackOutlineObl.woff2') format('woff2'),
  url('#{$font-path}/Halenoir/HalenoirCompact-BlackOutlineObl.woff') format('woff');
  font-weight: 900;
  //font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-secondary;
  src: url('#{$font-path}/Halenoir/HalenoirCompact-BlackObl.woff2') format('woff2'),
  url('#{$font-path}/Halenoir/HalenoirCompact-BlackObl.woff') format('woff');
  font-weight: 900;
  //font-style: italic;
  font-display: swap;
}

//=======

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-BlackItalic.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-Black.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-Heavy.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-HeavyItalic.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-Bold.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-BoldItalic.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-LightItalic.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-Regular.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-Italic.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-UltraLight.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-Medium.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-MediumItalic.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-Light.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-UltraLightCond.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-UltraLightCond.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-primary;
  src: url('#{$font-path}/DINNext/DINNextLTPro-UltraLightIt.woff2') format('woff2'),
  url('#{$font-path}/DINNext/DINNextLTPro-UltraLightIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

