.gm-scroll-hide {
  overflow: hidden !important;
}

//.gm-mt-50 {
//  margin-top: rem(50);
//}

.gm-mt-2 {
  margin-top: rem(2);
}

//.gm-md {
//  padding: 0 !important;
//}

//.gm-cl-yellow-orange
//
.clear,
.clear:before,
.clear:after {
  content: "";
  display: block;
  clear: both;
}
