.gm-pointer {
  cursor: pointer;
}

.gm-cursor-no-drop {
  cursor: no-drop !important;
}

.gm-disable {
  pointer-events: none !important;
}

.gm-hide {
  display: none !important;
}

.gm-hide-vis {
  visibility: hidden !important;
}

.gm-blur {
  filter: blur(5px);

  &-x2 {
    filter: blur(10px);
  }

  &-x3 {
    filter: blur(10px);
  }
}

.gm-mr {
  margin-right: 0 !important;
}

.gm-mt {
  margin-top: 0 !important;
}

.gm-mb {
  margin-bottom: 0 !important;
}

.gm-ml {
  margin-left: 0 !important;
}

.gm-ml-1 {
  margin-left: ($contentGutter/2) !important;
}

.gm-ml-2 {
  margin-left: $contentGutter !important;
}

.gm-ml-3 {
  margin-left: $contentGutterX2 !important;
}

.gm-ml-4 {
  margin-left: $contentGutterX3 !important;
}

.gm-mb-1 {
  margin-bottom: ($contentGutter/2) !important;
}

.gm-mb-2 {
  margin-bottom: $contentGutter !important;
}

.gm-mb-3 {
  margin-bottom: $contentGutterX2 !important;
}

.gm-mb-4 {
  margin-bottom: $contentGutterX3 !important;
}

.gm-mt-1 {
  margin-top: ($contentGutter/2) !important;
}

.gm-mt-2 {
  margin-top: $contentGutter !important;
}

.gm-mt-2 {
  margin-top: $contentGutter !important;
}

.gm-mt-3 {
  margin-top: $contentGutterX2 !important;
}

.gm-uppercase {
  text-transform: uppercase !important;
}

.gm-text-transform-normal {
  text-transform: initial;
}

.gm-text-center {
  text-align: center !important;
}

.gm-scroll-hide {
  overflow: hidden !important;
}

.gm-white-link {
  color: var(--cl-white);
  text-decoration: underline;

  &:hover {
    color: $cl-secondary;
  }
}

.gm-nowrap {
  white-space: nowrap !important;
}

.gm-underline {
  text-decoration: underline !important;
}

.gm-pr {
  padding-right: 0 !important;
}

.gm-pt {
  padding-top: 0 !important;
}

.gm-pb {
  padding-bottom: 0 !important;
}

.gm-pl {
  padding-left: 0 !important;
}

.gm-p-relative {
  position: relative !important;
}

.gm-zi-1 {
  z-index: 1 !important;
}

.gm-link-hover-gray {
  @include only-mouse {
    &:hover {
      color: $cl-secondary !important;
    }
  }
}

.gm-link-hover-primary {
  @include only-mouse {
    &:hover {
      color: $cl-primary !important;
    }
  }
}

.gm-color-primary {
  color: $cl-primary;
}

.gm-abs-plaque {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.gm-offset-content {
  margin-left: $containerOffset;
  margin-right: $containerOffset;
}
