//* Map size devices for media query
$wideScreens: (
    phonesSm: 340px,
    phones: 480px,
    phonesLg: 640px,
    tablet: 768px,
    laptop: 992px,
    desktopSm: 1024px,
    desktopMd: 1170px,
    desktop: 1280px,
    notebook: 1366px,
    notebookLg: 1600px,
    fullHD: 1800px,
    retina: 2100px,
    retina4k: 3656px,
    retina5k: 5100px,
    retina8k: 7600px
);

$contentScale: (
    //(
    //    direction: 'max-width',
    //    wide: screens(phonesSm),
    //    scale: 92%
    //),
    //(
    //  direction: 'max-width',
    //  wide: screens(notebookLg),
    //  scale: 86%
    //),
    //(
    //  direction: 'max-width',
    //  wide: screens(desktopMd),
    //  scale: 80%
    //),
);

//* Main content && elements sizes
$guides: false;
$guidesBody: false;
$guidesContainer: false;
$guidesCenter: true;
$guides-color: #ff3e23;
$guides-column: 12;

$customContainer: true;
$containerLimit: rem(screens(desktop)) + rem(48);
$containerOffset: calc(var(--container-gutter) * -1);
$contentGutter: rem(16) !default;
$contentGutterX2: rem(24) !default;
$contentGutterX3: rem(48) !default;
$contentGutterX4: rem(96) !default;

$contentSizeExtraSmall: rem(472) !default;
$contentSizeSmall: rem(568) !default;

$multiplier: 1.25 !default;

$elemRadius: rem(40) !default;
$elemRadiusNormal: rem(10) !default;
$elemRadiusSmall: rem(8) !default;

//* z-index
$z-index-step: 10 !default;
$z-index: (
    start: 10,
    middle: 50,
    header: 100,
    modal: 1000
) !default;

// * colors
$colors: (
    'primary': #000000,
    'secondary': #ffffff,
    'gray': #b2b2b2,
    'red': #FF0000,
) !default;

$cl-primary: var(--cl-primary) !default;
$cl-primary-light: var(--cl-gray) !default;

$cl-secondary: var(--cl-secondary) !default;
$cl-secondary-light: var(--cl-light-background) !default;

$base-font-color: $cl-primary !default;
$base-font-size-color: 16px !default;

$body-color: $base-font-color;

$cl-red: var(--cl-red);

$cl-placeholder: var(--cl-text-field);

// * shadows

// * gradients
//$gr-btn: linear-gradient(90deg, #cc229a 0%, #cc229a 1%, #941887 100%);
$gr-light-hide: linear-gradient(to bottom, rgba(255, 255, 255, 0) -100%, white 96%, white 10%);
//$gr-radial: radial-gradient();

// * clip-paths and svg bg

// * images source
$assets-path: '/assets/img/' !default;

// * text
$letter-spacing: 0.25px !default;

// * fonts
$font-path: '/assets/fonts' !default;
$font-inter-path: $font-path + '/Inter/' !default;

$font-family-primary: 'DIN Next LT Pro'; //'Inter', sans-serif;
$font-family-secondary: 'Halenoir Compact';
$font-family-tertiary: 'Halenoir Compact Black Outline';


//* Icons
$icon-font-family: 'growfast' !default;
$icon-font-prefix: 'grf';
$icon-font-path: $font-path + '/#{$icon-font-family}' !default;

$icons-font-map: (
);

// * buttons
$button-primary-hover-color: var(--cl-white);
$button-primary-hover-bg-color: var(--cl-violet);

$button-primary-disabled-color: var(--cl-white);
$button-primary-disabled-bg-color: var(--cl-violet-1);
//$button-primary-disabled-border-color: $cl-stroke;

$button-transition: background-color 0.3s ease-in-out, transform 0.3s cubic-bezier(0.17, 0.67, 0.82, 0.59),
box-shadow 0.4s ease-in-out, color 0.2s ease-in-out;

// * buttons arrow
$button-arrow-font-size: rem(16);
$button-arrow-icon-size: 0.88em;
$button-arrow-color: var(--button-arrow-color, var(--cl-dark-stroke));
$button-arrow-hover-color: $cl-primary;
//$button-arrow-disabled: $cl-stroke;

//* links
$link-color: currentColor !default;
$link-hover-color: $cl-primary !default;

//* transitions && animations
$transition-default: 0.3s ease-in-out !default;
$transition-border: border-color $transition-default !default;
$transition-shadow: box-shadow $transition-default !default;

//* Scrolls
$scroll-size: rem(5);
$scroll-thumb-color: clr('gray');
$scroll-thumb-hover-color: clr('primary');
$scroll-track-color: transparent;
$scroll-track-line: inset 0 0 0 1px $scroll-thumb-color;

$font-family-base: $font-family-primary;

//* ngb-container
$enable-grid-classes: false;
//$grid-columns:                12 !default;
//$grid-row-columns:            6 !default;
//$grid-gutter-width: rem(32);
//$container-max-widths: (
//  xl: 1170px
//);
