//* Map size devices for media query
$wideScreens: (
  phonesSm: 340px,
  phones: 480px,
  phonesLg: 640px,
  tablet: 768px,
  laptop: 992px,
  desktopSm: 1024px,
  desktopMd: 1170px,
  desktop: 1280px,
  notebook: 1366px,
  notebookLg: 1600px,
  fullHD: 1800px,
  retina: 2100px,
  retina4k: 3656px,
  retina5k: 5100px,
  retina8k: 7600px
);

$contentScale: (
  //(
  //    direction: 'max-width',
  //    wide: screens(phonesSm),
  //    scale: 92%
  //),
  //(
  //  direction: 'max-width',
  //  wide: screens(notebookLg),
  //  scale: 86%
  //),
  //(
  //  direction: 'max-width',
  //  wide: screens(desktopMd),
  //  scale: 80%
  //),
);

//* Main content && elements sizes
$guides: false;
$guidesBody: false;
$guidesContainer: false;
$guidesCenter: true;
$guides-color: #ff3e23;
$guides-column: 12;

$customContainer: true;
$containerLimit: rem(screens(desktopMd)) + rem(32);
$containerOffset: calc(var(--container-gutter) * -1);
$contentGutter: rem(16) !default;
$contentGutterX2: rem(24) !default;
$contentGutterX3: rem(48) !default;
$contentGutterX4: rem(96) !default;
$sectionSpacer: var(--section-s§§pacer, rem(80)) !default;

$contentSizeExtraSmall: rem(472) !default;
$contentSizeSmall: rem(568) !default;

$multiplier: 1.25 !default;

$elemRadius: rem(8) !default;
$elemRadiusNormal: rem(10) !default;
$elemRadiusSmall: rem(4) !default;

//* z-index
$z-index-step: 10 !default;
$z-index: (
  start: 10,
  middle: 50,
  header: 100,
  modal: 1000
) !default;

// * colors
$colors: (
  's-green': #4c9d2f,
  'green': #69b941,
  's-green-lime': #7fbb00,
  's-green-lime-dark': #79b708,
  's-dark-lime-green': #78b700,
  's-green-lemon': #a0e802,
  's-greyish-brown': #3c3327,
  'black': #120e09,
  'black-s': #13110c,
  'blue-light': #d6e7ef,
  'red':#dc3228,
  'orange': #ed6523,
  'yellow-orange': #faaf00,
  'yellow-orange-s': #f9af01,
  'slate-grey': #565f6a,
  'battleship-grey': #787a83,
  'steel': #7a838e,
  'bluey-grey': #99a2ac,
  'pale-violet': #cfcdd9,
  'brown-grey': #b5b5b5,
  'pale-grey': #f5f5f8,
  'pale-lilac-two': #e7e7e9,
  'pale-lilac': #e6e6e8,
  'white':#ffffff
) !default;

$base-font-color: var(--cl-slate-grey) !default;
$base-font-size-color: 16px !default;

$body-color: $base-font-color;
$font-weight-base: 300;

$border-color: var(--cl-pale-violet);

$cl-red: var(--cl-red);

$cl-placeholder: var(--cl-brown-grey);

// * shadows
$sh-text: 1px 1.7px rem(5) rgba(2, 3, 3, 0.1);

// * gradients
//$gr-btn: linear-gradient(90deg, #cc229a 0%, #cc229a 1%, #941887 100%);
$gr-light-hide: linear-gradient(to bottom, rgba(255, 255, 255, 0) -100%, white 96%, white 10%);
//$gr-radial: radial-gradient();

// * clip-paths and svg bg

// * images source
$assets-path: '/assets/img/' !default;

// * text
$letter-spacing: 0.25px !default;

// * fonts
$font-path: '/assets/fonts' !default;
$font-inter-path: $font-path + '/Inter/' !default;

$font-family-primary: 'Montserrat', sans-serif; //'Inter', sans-serif;
//$font-family-secondary: 'Halenoir Compact';


//* Icons
$icon-font-family: 'agilebear' !default;
$icon-font-prefix: 'agi-';
$icon-font-path: $font-path + '/#{$icon-font-family}' !default;

$agi-file-pdf-path1: "\e90c";
$agi-file-pdf-path2: "\e90d";
$agi-arrow-lt: "\e900";
$agi-arrow-rt: "\e901";
$agi-arrow-dw: "\e902";
$agi-arrow-up: "\e903";
$agi-chat: "\e904";
$agi-check-round: "\e905";
$agi-check: "\e906";
$agi-close: "\e907";
$agi-soc-fb: "\e908";
$agi-soc-ln: "\e909";
$agi-soc-tw: "\e90a";
$agi-upload: "\e90b";

$icons-font-map: (
  arrow-lt: $agi-arrow-lt,
  arrow-rt: $agi-arrow-rt,
  arrow-dw: $agi-arrow-dw,
  arrow-up: $agi-arrow-up,
  chat: $agi-chat,
  check-round: $agi-check-round,
  check: $agi-check,
  close: $agi-close,
  soc-fb: $agi-soc-fb,
  soc-ln: $agi-soc-ln,
  soc-tw: $agi-soc-tw,
  upload: $agi-upload
);

// * buttons
$button-primary-hover-color: var(--cl-white);
$button-primary-hover-bg-color: var(--cl-violet);

$button-primary-disabled-color: var(--cl-white);
$button-primary-disabled-bg-color: var(--cl-violet-1);
$disabled-opacity: 0.9;

$button-transition: background-color 0.3s ease-in-out, transform 0.3s cubic-bezier(0.17, 0.67, 0.82, 0.59),
box-shadow 0.4s ease-in-out, color 0.2s ease-in-out;

//* links
$link-color: currentColor !default;
$link-hover-color: var(--cl-yellow-orange-s) !default;

//* transitions && animations
$transition-default: 0.3s ease-in-out !default;
$transition-border: border-color $transition-default !default;
$transition-shadow: box-shadow $transition-default !default;

//* Scrolls
$scroll-size: rem(5);
$scroll-thumb-color: clr('gray');
$scroll-thumb-hover-color: clr('primary');
$scroll-track-color: transparent;
$scroll-track-line: inset 0 0 0 1px $scroll-thumb-color;

$font-family-base: $font-family-primary;

//* ngb-container
$enable-grid-classes: false;
//$grid-columns:                12 !default;
//$grid-row-columns:            6 !default;
//$grid-gutter-width: rem(32);
//$container-max-widths: (
//  xl: 1170px
//);

$disabled-color:var(--cl-brown-grey);
$disabled-bg-color: var(--cl-pale-lilac);
$disabled-bg-color-second: clr('pale-lilac-two');
$disabled-opacity: 0.9;

//* ngb-popovers
$popover-bg: #503895 !default;
$popover-body-color: var(--cl-white) !default;
$popover-body-padding-y: rem(10) !default;
$popover-body-padding-x: $contentGutterX2 !default;
$popover-border-width: 1px !default;
$popover-border-radius: rem(8) !default;
//$popover-border-color: clr('dark-stroke') !default;
$popover-box-shadow: 0 3 rem(19) rgba(0, 0, 0, 0.2) !default;
$popover-font-size: rem(14) !default;
$popover-max-width: rem(296) !default;
$popover-header-bg: #503895 !default;
$popover-header-color: var(--cl-white) !default;
$popover-header-padding-y: .5rem !default;
$popover-header-padding-x: .75rem !default;
$popover-arrow-width: rem(16);
$popover-arrow-height: rem(8);
$popover-arrow-color: $popover-bg;
//$popover-arrow-outer-color: transparent;
$popover-transition: top 0.3s linear;

//* input
$input-color: var(--cl-slate-grey);
$input-background: var(--input-bg-color, var(--cl-white));
$input-border-radius: var(--input-br-radius, rem(4));
$input-border: var(--input-border, 2px solid var(--input-br-color, var(--cl-pale-violet)));
$input-focus-bg-color: var(--cl-yellow-orange);
$input-placeholder: $cl-placeholder;
$input-transition: $transition-border;

//  * Validations elements
$validation-position-y: rem(-18) !default;
$validation-position-x: 0 !default;
$validation-font-size: rem(12) !default;
$validation-font-style: italic !default;
$validation-font-weight: 500 !default;
$validation-color: $cl-red !default;
$validation-bg-color: trasparent !default;


//* $ng-select
$ng-select-second-placeholder: 'Please select';
$ng-select-highlight: clr('white');
$ng-select-primary-text: clr('slate-grey');
$ng-select-disabled-text: $disabled-bg-color-second;
$ng-select-disabled-border-color: $disabled-color;
$ng-select-disabled-opacity: $disabled-opacity;
$ng-select-border: clr('pale-violet');
$ng-select-border-radius: $elemRadiusSmall;
$ng-select-border-width: rem(2);
$ng-select-bg: var(--cl-white);
$ng-select-selected: lighten($ng-select-highlight, 40) !default;
$ng-select-marked: var(--cl-bluey-grey);
$ng-select-placeholder: $cl-placeholder;
$ng-select-height: rem(40);
$ng-select-value-padding-left: rem(16);
$ng-select-value-font-size: rem(14);
$ng-select-label-font-size: rem(16);
$ng-select-label-color: var(--cl-steel);
$ng-select-panel-color: clr('brown-grey');
$ng-select-item-active-color: var(--cl-yellow-orange);

$ng-select-item-spacer: rem(16);
$ng-select-box-shadow: 0 0 0 1px var(--cl-yellow-orange);
$ng-select-box-shadow-opened: $sh-text;
$ng-select-error-color: $cl-red;
$ng-select-focused-color: var(--cl-yellow-orange);
$ng-select-container-transition: $transition-border, $transition-shadow;
$ng-select-arrow-color: var(--cl-slate-grey);
$ng-select-arrow-hover-color: var(--cl-yellow-orange);
$ng-select-arrow-size: 10;
$ng-select-clear-color: var(--cl-slate-grey);
$ng-select-clear-hover-color: var(--cl-yellow-orange);
$ng-select-items-height: rem(40 * 5);
