<article class="container" gdGap="1.7rem">
  <header>
    <agl-heading first="Hello, We are " second="Agile Bear"></agl-heading>
  </header>

  <div gdColumns="repeat(auto-fit, minmax(20rem, 1fr))" gdGap="2rem">
    <article gdGap="0.3rem">
      <p>
        Agile Delivery is about creating quality, working deliverables that provide the highest possible business value
        while reducing the risk of undelivered projects.
      </p>
      <p>
        At <b>AgileBear</b> we work with you to develop and deliver the most appropriate training programme to ensure success
        in
        your Agile transformation. We also can supplement our courses with extensive coaching programmes to bring this
        culture change out of the classroom and into your day to day workplace.
      </p>
      <p>
        AgileBear offers both private training courses for your business, individual on-site coaching / consultancy and
        public training sessions. This version should then go on to give more details than the homepage intro.
      </p>
    </article>

    <article gdGap="1rem">
      <p>
        Donec dignissim facilisis semper. Cras tempus nec justo a elementum. Nunc cursus, arcu nec sagittis varius,
        felis libero mattis est, at feugiat magna nisi in dolor. Praesent orci neque, vehicula sed interdum sed, mattis
        eu elit. Ut malesuada leo vitae rutrum molestie. Nunc tristique accumsan tempus. In eu molestie dui.
      </p>
      <p>
        Donec libero sapien, iaculis eu rhoncus nec, consectetur sit amet neque. Pellentesque sollicitudin faucibus leo
        a rutrum. Ut feugiat, quam gravida viverra facilisis, est mi tincidunt felis, non consectetur justo nunc eget
        dui. Ut dolor ipsum, posuere sed leo a, egestas egestas mi. Nunc posuere iaculis turpis, ut ornare libero
        condimentum vitae. Maecenas aliquam mauris eu venenatis dapibus. If you’d like to speak with us,
        <agl-link class="--arrow --y-orange">drop us an email</agl-link>
      </p>
    </article>
  </div>
</article>
