@import "core";

$item-spacer: rem(70);

:host {
  display: block;

  padding: calc(#{$sectionSpacer} + #{rem(30)}) 0 0;

  overflow: hidden;
}

.__item {
  padding: 0 0 rem(25);

  &:not(:last-child) {
    //border-bottom: 1px solid var(--cl-pale-violet);
  }
}

.__caption {
  margin: 0 0 $item-spacer;

  font-size: rem(22);
  font-weight: 800;
  line-height: 1.18;
  text-transform: uppercase;
  letter-spacing: rem(-1.1);
  text-align: left;
  color: var(--cl-steel);

  border-bottom: 1px solid var(--cl-pale-violet);

  span {
    font-weight: 300;
    color: #a8b1bb;
  }
}


