<article class="container">
  <div class="__list">

    <div class="__item" *ngFor="let item of list; let index">

      <div class="__caption" *ngIf="item.dateMouth === item.dateMouth">
        {{item.dateMouth}}
        <span>,&nbsp;</span>
        {{item.dateYear}}
      </div>

      <agl-event-item
        [name]="item.name"
        [advanced]="item.advanced"
        [description]="item.description"
        [type]="item.type"
        [available]="item.available"
        [logo]="item.logo"
        [image]="item.image"
        [dateDays]="item.dateDays"
        [dateMouth]="item.dateMouth"
        [dateYear]="item.dateYear">
      </agl-event-item>
    </div>
  </div>


  <div class="">
    <agl-who-should-attend></agl-who-should-attend>

    <br>
    <agl-who-should-attend [type]="'b'"></agl-who-should-attend>

  </div>
</article>
