<article class="container" gdGap="2.125rem">
  <header>
    <agl-heading>Program</agl-heading>
    <p class="__top-text">Each module includes small group exercisesand discussions in addition to the major exercises
      listed.</p>
  </header>

  <div gdColumns="1fr" gdColumns.gt-sm="1fr 1fr 1fr" gdGap="1.875rem" gdGap.gt-lg="3.5rem">
    <article fxLayout="column" fxLayoutGap="2.375rem">
      <agl-heading class="--large" first="DAY" second="01"></agl-heading>

      <agl-heading class="--small">Brief Intro into Agile& How Testing Fits in – Module 1</agl-heading>
      <ul class="list">
        <li> Overview of agile terminology
          <ul class="list --second">
            <li>Agile principles - what does it mean to a tester</li>
            <li>Intro to Scrum, XP, other agile processes</li>
            <li>SDLC - Introduce agile testing activities and approach</li>
          </ul>
        </li>
      </ul>

      <agl-heading class="--small">Adapting to Agile – Module 2</agl-heading>
      <ul class="list">
        <li>
          The whole-team approach
          <ul class="list --second">
            <li>Ten Principles for agile testers</li>
            <li>Roles and responsibilities;  collaboration</li>
            <li>Collaboration Exercise</li>
          </ul>
        </li>

        <li>
          Overcoming common obstacles
          <ul class="list --second">
            <li>Cultural Issues; mini-waterfalls</li>
          </ul>
        </li>

        <li>
          Transitioning typical processes
          <ul class="list --second">
            <li>defect tracking</li>
            <li>quality models, traceability</li>
          </ul>
        </li>
      </ul>

      <agl-heading class="--small">Test Automation - How Testing“Keeps Up” with Short Agile Iterations– Module 3
      </agl-heading>
      <ul class="list">
        <li>Using Automation So Testing “Keeps up”
          <ul class="list --second">
            <li>Value of automation</li>
            <li>Barriers of automation</li>
          </ul>
        </li>

        <li>Getting over the hump
          <ul class="list --second">
            <li>Using the Test Automation Pyramid for maximum ROI</li>
            <li>Using The Agile Testing Quadrants for automation</li>
            <li>What to should and shouldn’t be automated</li>
          </ul>
        </li>

        <li>
          Developing an Agile Automation Strategy
          <ul class="list --second">
            <li>What hurts most; multilayered Approach</li>
            <li>Applying agile principles</li>
            <li>“Thin slice/steel thread” approach</li>
            <li>Exercise – Breaking features/stories into thin slices</li>
          </ul>
        </li>

        <li>
          Summary: Key Factors to Making Automation Work
        </li>
      </ul>
    </article>

    <article fxLayout="column" fxLayoutGap="2.375rem">
      <agl-heading class="--large" first="DAY" second="02"></agl-heading>

      <agl-heading class="--small">Release Planning in Agile Projects – Module 4</agl-heading>
      <ul class="list">
        <li>
          Release planning
          <ul class="list --second">
            <li>Sizing your stories</li>
            <li>Using an incremental approach</li>
          </ul>
        </li>

        <li>
          Roles and Responsibilities
          <ul class="list --second">
            <li>Roles of PO, ScrumMaster, Dev</li>
            <li>How testers contribute</li>
          </ul>
        </li>
        <li>Exercise: Release Planning Simulation</li>
      </ul>

      <agl-heading class="--small">Rest Planning in Agile Projects– Module 5</agl-heading>
      <ul class="list">
        <li>Using the Agile Testing Quadrants
          <ul class="list --second">
            <li>Introduction: Vocabulary, Collaboration</li>
            <li>Tests that guide development, foundation for quality</li>
            <li>Developer tests</li>
            <li>Business-facing</li>
          </ul>
        </li>

        <li>Tests to evaluate the product
          <ul class="list --second">
            <li>Business-facing</li>
            <li>Technology-facing</li>
          </ul>
        </li>

        <li>Plan to stay on track
          <ul class="list --second">
            <li>Alternatives to test plans</li>
            <li>Release-level test plan matrix</li>
          </ul>
        </li>

        <li>Exercise: Test Planning Exercise</li>
      </ul>

      <agl-heading class="--small">An Iteration in the Life of a Tester– Module 6 (1:00 – 5:00)</agl-heading>
      <ul class="list">
        <li>Iteration Pre-Planning
          <ul class="list --second">
            <li>Going through stories</li>
            <li>Distributed team communication</li>
          </ul>
        </li>
        <li>Iteration Planning
          <ul class="list --second">
            <li>Simplest thing first - steel thread</li>
            <li>ATTD (Acceptance Test Driven Development)</li>
            <li>Exercise – Write acceptance tests as a team</li>
            <li>How testers contribute in planning, estimating</li>
          </ul>
        </li>
        <li> During the Iteration
          <ul class="list --second">
            <li>Coding & Testing</li>
            <li>Collaboration</li>
            <li>Defect tracking</li>
            <li>Expanding tests</li>
            <li>Exploratory testing</li>
          </ul>
        </li>
        <li>The iteration demo</li>
        <li>Retrospectives - improving your process</li>
        <li>Celebrating success</li>
      </ul>
    </article>

    <article fxLayout="column" fxLayoutGap="2.375rem">
      <agl-heading class="--large" first="DAY" second="03"></agl-heading>

      <agl-heading class="--small">Exercise: Iteration Simulation</agl-heading>
      <ul class="list">
        <li>Includes Iteration planning, code and test, automation, demo, retrospective</li>
        <li>Debrief Iteration Simulation</li>
      </ul>

      <agl-heading class="--small">The End Game – Module 7</agl-heading>
      <ul class="list">
        <li>Successful delivery</li>
        <li>The end game</li>
        <li>Release retrospective</li>
      </ul>

      <agl-heading class="--small">Key Success Factors & Wrap-Up– Module 8</agl-heading>
      <ul class="list">
        <li>Seven Factors for Agile Testing Success</li>
        <li>Wrap-Up; Discussion back to original problems that participants are experiencing</li>
      </ul>
    </article>
  </div>
</article>

<article class="container" gdGap="1rem">
  <header>
    <agl-heading>Program</agl-heading>
  </header>

  <div gdColumns.gt-sm="1fr 1fr" gdGap="1.875rem">
    <div>
      <agl-heading class="--large" first="PT." second="01"></agl-heading>

      <ol class="list-num">
        <li>Expectations of the Product Owner</li>
        <li>Scrum overview</li>
        <li>History of Agile and Scrum</li>
        <li>Benefits of Scrum</li>
        <li>The Scrum framework</li>
        <li>Scrum Roles</li>
        <li>The Product Vision:
          <ol class="list-num --second">
            <li data-counter="a"> Benefits of the Product Vision</li>
            <li data-counter="b"> The Vision in Action</li>
            <li data-counter="c"> Desirable Qualities</li>
            <li data-counter="d"> Techniques for Creating a Powerful Vision</li>
          </ol>
        </li>

        <li>User stories on the product backlog:
          <ol class="list-num --second">
            <li data-counter="a"> Augmenting the user stories</li>
            <li data-counter="b"> User roles/Personas</li>
            <li data-counter="c"> INVEST in your backlog</li>
          </ol>
        </li>

        <li>Stocking the Product Backlog:
          <ol class="list-num --second">
            <li data-counter="a">Failure of upfront thinking</li>
            <li data-counter="b">Emergent requirements</li>
            <li data-counter="c">Release Planning</li>
            <li data-counter="d">Velocity</li>
          </ol>
        </li>

        <li>What is Done?</li>
        <li>Agile Estimating in brief</li>
      </ol>
    </div>

    <div>
      <agl-heading class="--large" first="PT." second="01"></agl-heading>

      <ol class="list-num --set-increment-11">
        <li>Prioritizing the product backlog</li>
        <li>Kano analysis</li>
        <li>Theme Screening and Theme Scoring</li>
        <li>Innovation Games</li>
        <li>Relative Weighting</li>
        <li>Priority Poker</li>
        <li>Understanding Sprint Planning</li>
        <li>Understanding the Daily Scrum</li>
        <li>Sprint Review</li>
        <li>Managing Releases:
          <ol class="list-num --second">
            <li data-counter="a"> Release Burndown</li>
            <li data-counter="b"> Rolling Release Plans</li>
          </ol>
        </li>
        <li>10 Tips for Product Owners</li>
        <li>Summary and Close</li>
      </ol>
    </div>
  </div>
</article>
