@import "core";

:host {
  display: block;

  overflow: hidden;

  .container {
    padding-top: rem(24);
    padding-bottom: $sectionSpacer;

    border-bottom: 1px solid var(--cl-pale-violet);
  }
}
