<article class="container" gdGap="2.125rem">
  <header gdGap="3rem">
    <agl-heading>Program</agl-heading>
    <p class="">Each module includes small group exercisesand discussions in addition to the major exercises
      listed.</p>
  </header>

  <div class="">
    <agl-heading class="--large" first="DAY" second="01"></agl-heading>
    <p>

      <agl-heading class="--small">Brief Intro into Agile& How Testing Fits in – Module 1</agl-heading>
      <agl-list>
        <li> • Overview of agile terminology
          <agl-list class="--second">
            <li>- Agile principles - what does it mean to a tester</li>
            <li>- Intro to Scrum, XP, other agile processes</li>
            <li>- SDLC - Introduce agile testing activities and approach</li>
          </agl-list>
        </li>
      </agl-list>

      <agl-heading class="--small">Adapting to Agile – Module 2</agl-heading>
      <agl-list>
        <li> • Overview of agile terminology</li>
        <li>

        </li>

        <agl-list>
          <li>- Agile principles - what does it mean to a tester</li>
          <li>- Intro to Scrum, XP, other agile processes</li>
          <li>- SDLC - Introduce agile testing activities and approach</li>
        </agl-list>
      </agl-list>


      • The whole-team approach
      - Ten Principles for agile testers
      - Roles and responsibilities;  collaboration
      - Collaboration Exercise
      • Overcoming common obstacles
      - Cultural Issues; mini-waterfalls
      • Transitioning typical processes
      - defect tracking
      - quality models, traceability
      Test Automation - How Testing“Keeps Up” with Short Agile Iterations– Module 3
      • Using Automation So Testing “Keeps up”
      - Value of automation
      - Barriers of automation
      • Getting over the hump
      - Using the Test Automation Pyramid for maximum ROI
      - Using The Agile Testing Quadrants for automation
      - What to should and shouldn’t be automated
      • Developing an Agile Automation Strategy
      - What hurts most; multilayered Approach
      - Applying agile principles
      - “Thin slice/steel thread” approach
      - Exercise – Breaking features/stories into thin slices
      • Summary: Key Factors to Making Automation Work
    </p>
  </div>
</article>
