@import "core";

:host {
  @extend %layout-section-host;
}

.container {
  @extend %layout-section-container;
  @extend %layout-section-container-line;
}

.__top-text{
  max-width: rem(412);
  margin: rem(30) 0 0;

  font-size: rem(15);
  font-weight: 300;
  line-height: 1.87;
  letter-spacing: normal;
  text-align: left;
  color: var(--cl-slate-grey);
}
