<article class="container" gdGap="1.875rem">
  <header>
    <agl-heading>Topics Covered</agl-heading>
  </header>

  <div gdColumns.gt-sm="1fr 1fr" gdGap="1.875rem">

    <div class="">
      <ul class="list --third">
        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark> Enterprise Change Coalition</mark>

          <span>Many organizations do not lead their change, but are lead by their change. This chapter of the video workshop addresses this.</span>
        </li>
        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark> The Coaching Team</mark>

          <span>The coaches needed to help support the change,will need to work as a team.</span></li>
        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark> Coaching Hints and Tips</mark>

          <span>There are some common anti-patterns and patterns in coaching teams. Here is some some simple advice to help.</span>
        </li>
        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark> Embedded Agile Coaches</mark>

          <span>Embedding Coaches into organizations is a common change pattern. Here we discuss the pros and cons of such an approach.</span>
        </li>

        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark> ScrumMasters</mark>

          <span>The overlooked part of many agile transformations.</span></li>
        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark> The AgileBerg is Melting: Kotter Change Tips</mark>

          <span>For decades, there are have been some common errors made by organizations when they attempt to change. Here is some of John Kotters famous advice, with an agile slant to proceedings.</span>
        </li>
        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark> Becoming Agile with Scrum</mark>

          <span>Change is a highly complex problem space, and we need to approach it appropriately. Chaos or Waterfall will not work. I wonder what would…</span>
        </li>
        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark> Know Thyself</mark>

          <span>Knowing your weight before you start a diet is essential. Knowing how to weight yourself is also critical. This video is all about understanding yourself before you begin your change and as you undergo it.</span>
        </li>
      </ul>
    </div>

    <div gdGap="1.875rem" gdRows="max-content" gdGap.gt-sm="5.1875rem" >
      <figure class="__figure"><img src="assets/img/video-workshop.jpg" alt=""></figure>

      <ul class="list --third">
        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark>The Secret</mark>
          <span>There is one thing that many coaches do not mention when a change begins. I will mention it here. You may not like to hear this…</span>
        </li>
        <li fxLayout="column" fxLayoutGap=".5rem">
          <mark>Scrumbrella: Large Agile and Scaled Scrum</mark>
          <span>Whilst scaling is a huge topic in the Agile space, (and an area that would require dozens of videos!), we touch upon in this section a few of the vital success factors that must be taken into account when running big agile development.</span>
        </li>
        <li>
          <mark>Pub Quiz</mark>
          <span>Finally, we have a bit of a fun test for you, to challenge your retention and knowledge of the above training. Only watch this video at the end – With pen and paper in hand!</span>
        </li>
      </ul>
    </div>
  </div>
</article>
