<article class="container" gdGap="1.875rem">
  <header>
    <agl-heading>Topics Covered</agl-heading>
  </header>

  <div gdColumns="1fr 1fr" gdGap="1.875rem">

    <ul class="list">
      <li>
        <mark> Enterprise Change Coalition</mark>

        <span>Many organizations do not lead their change, but are lead by their change. This chapter of the video workshop addresses this.</span>
      </li>
      <li>
        <mark> The Coaching Team</mark>

        <span>The coaches needed to help support the change,will need to work as a team.</span></li>
      <li>
        <mark> Coaching Hints and Tips</mark>

        <span>There are some common anti-patterns and patterns in coaching teams. Here is some some simple advice to help.</span>
      </li>
      <li>
        <mark> Embedded Agile Coaches</mark>

        <span>Embedding Coaches into organizations is a common change pattern. Here we discuss the pros and cons of such an approach.</span>
      </li>
      <li>
        <mark> ScrumMasters</mark>

        <span>The overlooked part of many agile transformations.</span></li>
      <li>
        <mark> The AgileBerg is Melting: Kotter Change Tips</mark>

        <span>For decades, there are have been some common errors made by organizations when they attempt to change. Here is some of John Kotters famous advice, with an agile slant to proceedings.</span>
      </li>
      <li>
        <mark> Becoming Agile with Scrum</mark>

        <span>Change is a highly complex problem space, and we need to approach it appropriately. Chaos or Waterfall will not work. I wonder what would…</span>
      </li>
      <li>
        <mark> Know Thyself</mark>

        <span>Knowing your weight before you start a diet is essential. Knowing how to weight yourself is also critical. This video is all about understanding yourself before you begin your change and as you undergo it.</span>
      </li>
    </ul>
  </div>
</article>
