@import '~@ng-select/ng-select/scss/default.theme.scss';
@import '../extends/validations';
@import '../extends/inputs';

.ng-select {
  display: inline-grid !important;
  grid-template-rows: rem(22) auto;
  grid-gap: rem(10);

  height: auto;

  font-size: rem(14);
  font-weight: 500;
  letter-spacing: normal;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &[ng-select-label=''],
  &:not([ng-select-label]) {
    grid-template-rows: auto;
  }

  &[ng-select-label]:not([ng-select-label='']) {
    &:before {
      left: 0;

      content: attr(ng-select-label);

      font-size: $ng-select-label-font-size;
      font-weight: normal;
      line-height: 1;
      color: var(--ng-select-label-color, $ng-select-label-color);
    }
  }

  &:not([ng-select-validation-msg]) {
    .ng-placeholder {
      &:after {
        content: none !important;
      }
    }
  }

  .ng-select-container {
    width: auto !important;

    border-width: $ng-select-border-width;

    transition: $ng-select-container-transition;

    &:focus,
    &:hover {
      border-color: $ng-select-focused-color !important;
      box-shadow: none !important;

      outline: none;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
      border-radius: $ng-select-border-radius;
    }

    .ng-input {
      top: 0 !important;

      display: flex !important;
      align-items: center;

      height: 100%;

      input {
        cursor: initial !important;
      }
    }
  }

  .ng-placeholder {
    @extend %input-placeholder;

    font-weight: normal;
  }

  .ng-dropdown-panel {
    overflow: hidden;

    &.ng-select-top {
      bottom: rem(40);
    }

    &.ng-select-bottom {
      margin-top: 0;
    }
  }

  .ng-dropdown-panel-items {
    max-height: $ng-select-items-height !important;

    .ng-option {
      padding: rem(9) $ng-select-item-spacer;

      border: 0.5px solid transparent;
      border-left: none;
      border-right: none;

      &:not(:last-of-type) {
        position: relative;

        &:before {
          position: absolute;
          bottom: 0;
          left: $ng-select-item-spacer;
          right: $ng-select-item-spacer;

          height: 1px;

          content: var(--ng-select-item-line, '');

          background-color: $ng-select-marked;
        }
      }

      &:hover {
        &:before {
          content: none;
        }
      }

      &.ng-option-selected {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: $ng-select-item-active-color !important;

        &:after {
          @include pseudo-icon($agi-check, 14);
        }
      }
    }
  }

  .ng-clear-wrapper {
    width: max-content !important;

    .ng-clear {
      color: $ng-select-clear-color;

      transition: $transition-default;
    }

    &:hover .ng-clear {
      color: $ng-select-clear-hover-color;
    }
  }

  .ng-arrow-wrapper {
    padding: rem(5) $contentGutter rem(5) rem(10);

    &,
    .ng-arrow {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;

      height: max-content !important;
      width: max-content !important;
    }

    &:hover {
      .ng-arrow {
        color: $ng-select-arrow-hover-color;
      }
    }

    .ng-arrow {
      top: 0 !important;

      border: none;

      color: $ng-select-arrow-color;

      &:before {
        display: inline-flex;

        @include pseudo-icon($agi-arrow-dw, $ng-select-arrow-size);
      }
    }
  }

  &.ng-select-opened > .ng-select-container .ng-arrow {
    &:before {
      transform: rotate(180deg) !important;
    }
  }

  /*  &.ng-select-opened {
      .ng-select-container,
      .ng-dropdown-panel {
        border-radius: $ng-select-border-radius !important;
        border-color: $ng-select-panel-color;
      }

      .ng-select-container {
        border-color: $cl-primary !important;
        box-shadow: none !important;
      }

      .ng-dropdown-panel {
        box-shadow: $ng-select-box-shadow-opened;
      }
    }*/

  &.select-error {
    &:after {
      @extend %validation-message;
      //@extend %validation-message-position-left;

      content: attr(ng-select-validation-msg);

      position: absolute;
      top: rem(12);
      right: rem(58);
      //z-index: 1;
      //z-index: -1;
    }

    .ng-select-container {
      border-color: $ng-select-error-color !important;
    }
  }

  &.ng-select-focused {
    .ng-select-container {
      border-color: $ng-select-panel-color;

      box-shadow: none;
    }

    &:not(.ng-select-opened) > .ng-select-container {
      border-color: $ng-select-border !important;
      box-shadow: none !important;
    }
  }

  &.ng-select-disabled {
    pointer-events: none;

    > .ng-select-container {
      background-color: $ng-select-disabled-text;
      border-color: $ng-select-disabled-border-color;

      opacity: $ng-select-disabled-opacity;
    }
  }

  .ng-placeholder {
    @include text-dot;
  }

  .ng-option-label {
    max-width: 98%;
    padding-right: rem(8);

    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ng-select-container {
  border-color: $ng-select-border;
}
