.popover {
  filter: $popover-box-shadow;

  .popover-body {
    width: max-content;
    max-width: $popover-max-width;

    padding-top: 0;

    font-weight: 600;
    line-height: 1.1;
    white-space: pre-wrap;
    text-align: center;
  }

  .popover-header {
    padding-bottom: 0;

    text-align: center;
    font-weight: 700;
    border: none;
  }

  &.--top-offset {
    top: rem(-13) !important;
  }

  &.--orange {
    background-color: var(--cl-orange);

    .popover-header {
      background-color: var(--cl-orange);
    }

    .arrow:after {
      border-top-color: var(--cl-orange);
    }
  }

  &.--yellow {
    background-color: var(--cl-yellow-orange);

    .popover-header {
      background-color: var(--cl-yellow-orange);
    }

    .arrow:after {
      border-top-color: var(--cl-yellow-orange);
    }
  }

  &.--blue {
    background-color: #4bb3e6;

    .popover-header {
      background-color: #4bb3e6;
    }

    .arrow:after {
      border-top-color: #4bb3e6;
    }
  }

  &.--gray {
    background-color: #98a3ae;

    .popover-header {
      background-color: #98a3ae;
    }

    .arrow:after {
      border-top-color: #98a3ae;
    }
  }

  &.--green {
    background-color: var(--cl-s-dark-lime-green);

    .popover-header {
      background-color: var(--cl-s-dark-lime-green);
    }

    .arrow:after {
      border-top-color: var(--cl-s-dark-lime-green);
    }
  }

  &.--red {
    background-color: var(--cl-red);

    .popover-header {
      background-color: var(--cl-red);
    }

    .arrow:after {
      border-top-color: var(--cl-reda);
    }
  }
}

@include max-wide(phonesLg) {
  .popover {
    .popover-body {
      max-width: rem(200);

      padding: $contentGutter;
    }
  }
}
