.popover {
  filter: $popover-box-shadow;

  .popover-body {
    width: max-content;
    max-width: $popover-max-width;

    padding-top: 0;

    font-weight: 600;
    line-height: 1.1;
    white-space: pre-wrap;
    text-align: center;
  }

  .popover-header {
    padding-bottom: 0;

    text-align: center;
    font-weight: 700;
    border: none;
  }


  &.--top-offset {
    top: rem(-13) !important;
  }
}

@include max-wide(phonesLg) {
  .popover {
    .popover-body {
      max-width: rem(200);

      padding: $contentGutter;

      //font-size: rem(12);
    }
  }
}
