@import "core";

:host {
  display: block;

  max-width: 100vw;

  padding: $sectionSpacer 0;

  font-size: rem(15);
  font-weight: 300;
  line-height: 1.87;
  color: var(--cl-slate-grey);

  overflow: hidden;
}

.__img {
  margin-top: rem(10);

  border-radius: $elemRadius;
}

.__capt {
  margin-bottom: rem(16) !important;

  line-height: 1.47;
  letter-spacing: -0.75px;
}

.__brands {
  margin: rem(-32);
  padding: rem(15);
}

.__logo {
  min-width: rem(120);
  max-width: rem(120);
  height: rem(120);

  margin: rem(15);
  padding: rem(8);

  border: 1px solid rgba(36, 36, 36, 0.1);
  background-color: var(--cl-white);
}
