<article class="container" gdGap="2.125rem">
  <div>
    <agl-heading>Who Do We Work With ?</agl-heading>
  </div>

  <div gdColumns="repeat(auto-fit, minmax(20rem, 1fr))" gdGap="2rem">

    <article>
      <p>
        At <b>AgileBear</b> we work with class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos
        himenaeos. Phasellus egestas eu purus at efficitur. Maecenas mauris eros, interdum id hendrerit in, viverra
        facilisis nisl. Integer vestibulum blandit tortor et rutrum. Aenean pellentesque odio vitae ultricies accumsan.
        Fusce in accumsan odio. In quis euismod mi.
      </p>
      <p>
        Sed at odio a ante feugiat vulputate. Mauris vestibulum tempor elit, sit amet tristique urna fringilla ac.
        Mauris
        maximus vitae ipsum nec convallis. Vivamus a dolor quis mauris volutpat ultrices. Quisque dapibus mollis nisi,
        mattis gravida odio finibus sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Pellentesque nec elit venenatis, porttitor lacus nec, eleifend dui.
      </p>
      <p>
        Fusce in nisi bibendum, mollis arcu a, placerat nisi. Morbi sit amet felis id leo interdum suscipit. Donec
        dignissim
        facilisis semper. Cras tempus nec justo a elementum. Nunc cursus, arcu nec sagittis varius, felis libero mattis
        est,
        at feugiat magna nisi in dolor. Praesent orci neque, vehicula sed interdum sed, mattis eu elit. Ut malesuada leo
        vitae rutrum molestie. Nunc tristique accumsan tempus. In eu molestie dui. Donec libero sapien, iaculis eu
        rhoncus
        nec, consectetur sit amet neque. Pellentesque sollicitudin faucibus leo a rutrum. Ut feugiat, quam gravida
        viverra
        facilisis, est mi tincidunt felis, non consectetur justo nunc eget dui. Ut dolor ipsum, posuere sed leo a,
        egestas
        egestas mi.
      </p>
      <p>
        Nunc posuere iaculis turpis, ut ornare libero condimentum vitae. Maecenas aliquam mauris eu venenatis dapibus.
        Proin
        faucibus tortor at nibh viverra scelerisque. Donec tempor ligula sed mauris rutrum laoreet. Nunc vestibulum.
        We’d
        love to work with you, so get in touch
      </p>
    </article>

    <article fxLayout="column" fxLayoutGap="1rem">
      <img class="__img" src="assets/img/agilebear_who-we-work-with.jpg" alt="">

      <div >AgileBear clients include:</div>

      <div class="__brands"
           fxLayout="row wrap"
           fxLayoutAlign="center center">
        <figure class="__logo" fxLayout="inline" fxLayoutAlign="center center" >
          <img src="assets/img/agilebear_barclays_grey.png" alt="">
        </figure>

        <figure class="__logo" fxLayout="inline" fxLayoutAlign="center center" >
          <img src="assets/img/agilebear_bbc_grey.png" alt="">
        </figure>

        <figure class="__logo" fxLayout="inline" fxLayoutAlign="center center" >
          <img src="assets/img/agilebear_bt_grey.png" alt="">
        </figure>

        <figure class="__logo" fxLayout="inline" fxLayoutAlign="center center" >
          <img src="assets/img/agilebear_cisco_grey.png" alt="">
        </figure>

        <figure class="__logo" fxLayout="inline" fxLayoutAlign="center center">
          <img src="assets/img/agilebear_ericsson_grey.png" alt="">
        </figure>

        <figure class="__logo" fxLayout="inline" fxLayoutAlign="center center">
          <img src="assets/img/agilebear_experian_grey.png" alt="">
        </figure>

        <figure class="__logo" fxLayout="inline" fxLayoutAlign="center center">
          <img src="assets/img/agilebear_sony_grey.png" alt="">
        </figure>
      </div>
    </article>
  </div>
</article>
