<article gdGap="1.5rem">
  <figure>
    <img class="__img" [attr.src]="'assets/img/popular/' + image" alt="">
  </figure>

  <div>
    <div class="__head" gdGap="0.8rem" gdColumns="1fr 3.875rem">
      <h3 class="__capt">{{ caption }}</h3>

      <agl-services-logos class="--s62"
                          [isGray]="true" [usedLogo]="[logo]"
                          [popoverTrigger]="true">
      </agl-services-logos>
    </div>

    <p class="__desk">
      {{description}}
    </p>

    <div fxLayoutAlign="center center end" fxLayoutGap="1.75rem">
      <agl-link class="--arrow --y-orange">Find out more</agl-link>
      <agl-button class="--yellow-orange">Book Your Place</agl-button>
    </div>

  </div>
</article>
