@import "core";

:host {
  display: inline-flex;

  width: 100%;
}

.__img {
  height: rem(250);

  object-position: center;
  object-fit: cover;

  border-radius: $elemRadius;
  overflow: hidden;
}

.__logo {
  transform: translate(rem(-12), rem(-9));
}

.__capt {
  margin: 0;

  font-size: rem(22);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  color: var(--cl-bluey-grey);
  line-height: 1;

  @include text-dot-vertical(2);
}

.__desk {
  margin: rem(-4) 0 rem(40);

  font-size: rem(15);
  font-weight: 300;
  text-align: left;
  line-height: 1.47;
  color: var(--cl-slate-grey);

  @include text-dot-vertical(2);
}

