<main gdGap="2rem">

  <section>
    <h1> header-type-a ↓</h1>
    <agl-header class="--not-fixed"></agl-header>
  </section>

  <section>
    <h1> header-type-b ↓</h1>
    <agl-header class="--not-fixed" [type]="'b'"></agl-header>
  </section>

  <section>
    <h1> header-type-c ↓</h1>
    <agl-header class="--not-fixed" [type]="'c'"></agl-header>
  </section>

  <section>
    <h1> top-panel <i>parm: [ home ]</i>↓</h1>
    <agl-top-panel [type]="'home'" [style]="{'margin-top': '0!important'}"></agl-top-panel>
  </section>

  <section>
    <h1> top-panel <i>parm: [ training ]</i>↓</h1>
    <agl-top-panel [type]="'training'" [style]="{'margin-top': '0!important'}"></agl-top-panel>
  </section>

  <section>
    <h1> top-panel <i>parm: [ services ]</i>↓</h1>
    <agl-top-panel [type]="'services'" [style]="{'margin-top': '0!important'}"></agl-top-panel>
  </section>

  <section>
    <h1> top-panel <i>parm: [ contact ]</i>↓</h1>
    <agl-top-panel [type]="'contact'" [style]="{'margin-top': '0!important'}"></agl-top-panel>
  </section>

  <section>
    <h1> services-top-strip-type-a ↓</h1>
    <agl-services-top-strip img="agilebear_supplier-logo.png" days="2.5"></agl-services-top-strip>
  </section>

  <section>
    <h1> services-top-strip-type-b ↓</h1>
    <agl-services-top-strip img="agilebear_scrumalliance_supplier-logo.png" days="2.5"
                            [type]="true"></agl-services-top-strip>
  </section>

  <section>
    <h1> footer-type-a ↓</h1>
    <agl-footer [footerType]="'a'"></agl-footer>
  </section>

  <section>
    <h1> footer-type-b ↓</h1>
    <agl-footer [footerType]="'b'"></agl-footer>
  </section>

  <section>
    <h1> footer-type-c ↓</h1>
    <agl-footer [footerType]="'c'"></agl-footer>
  </section>

  <section>
    <h1> footer-type-c2 ↓</h1>
    <agl-footer [footerType]="'c2'"></agl-footer>
  </section>

  <section>
    <h1> footer-type-c2 ↓</h1>
    <agl-footer [footerType]="'c2'"></agl-footer>
  </section>

  <section>
    <h1> popular-courses ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-most-popular></agl-most-popular>
    </div>
  </section>

  <section>
    <h1> what-is-agilebear ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-what-is></agl-what-is>
    </div>
  </section>

  <section>
    <h1> distance-learning ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-distance-learning></agl-distance-learning>
    </div>
  </section>

  <section>
    <h1> we-are-agilebear ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-we-are></agl-we-are>
    </div>
  </section>

  <section>
    <h1> meet-the-team ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-our-team></agl-our-team>
    </div>
  </section>

  <section>
    <h1> who-we-work-with ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-we-work></agl-we-work>
    </div>
  </section>

  <section>
    <h1> training-listings ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-events-list></agl-events-list>
    </div>
  </section>

  <section>
    <h1> training-portfolio ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-services-list></agl-services-list>
    </div>
  </section>

  <section>
    <h1> who-should-attend-01 ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-who-should-attend></agl-who-should-attend>
    </div>
  </section>

  <section>
    <h1> who-should-attend-02 ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-who-should-attend [type]="'b'"></agl-who-should-attend>
    </div>
  </section>

  <section>
    <h1> Introduction ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-introduction></agl-introduction>
    </div>
  </section>

  <section>
    <h1> program-type-a ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-program-detail></agl-program-detail>
    </div>
  </section>

  <section>
    <h1> program-type-b ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-course-options></agl-course-options>
    </div>
  </section>

  <section>
    <h1> topics-covered ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-topic-covered></agl-topic-covered>
    </div>
  </section>

  <section>
    <h1> what's-on-offer ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-whats-on-offer></agl-whats-on-offer>
    </div>
  </section>

  <section>
    <h1> contact-us-preselect ↓</h1>

    <div [style]="{'background': '#fff'}">
      <agl-form-contact></agl-form-contact>
    </div>
  </section>
</main>
