<div class="container" gdColumns="repeat(auto-fit, minmax(20rem, 1fr))" gdColumns.lt-sm="1fr" gdGap="2rem">
  <article>
    <div fxLayout="column" fxLayoutGap="1.735rem">
      <agl-heading first="What Is" second="Agile Bear">?</agl-heading>

      <p> Agile Delivery is about creating quality, working deliverables that provide the highest possible business
        value while reducing the risk of undelivered projects.</p>

      <p>At <b>AgileBear</b> we work with you to develop and deliver the most appropriate training programme to ensure
        success
        in your Agile transformation. We also can supplement our courses with extensive coaching programmes to bring
        this culture change out of the classroom and into your day to day workplace.</p>

      <p> AgileBear offers both private training courses for your business, individual on-site coaching / consultancy
        and public training sessions.
        <br>
        <agl-link class="--arrow --y-orange">Don't cut corners</agl-link>
      </p>
    </div>
  </article>

  <article>
    <img src="assets/img/agilebear_what-is.jpg" alt="">
  </article>
</div>
