@import "core";

:host {
  @extend %layout-section-pdd;

  margin-bottom: rem(9);

  line-height: 1.7;
  letter-spacing: -0.60px;

  p {
    margin-bottom: rem(6);
    letter-spacing: -0.59px;
  }

  img {
    margin-top: rem(10);
  }
}
