<div class="__wrap container" gdColumns.gt-sm=" 1fr 1fr">
  <div class="__left" fxLayout="column">
    <ng-container *ngIf="type === 'a' || type === null ">
      <div class="__text">
        <h3 class="__title">Prerequisites</h3>
        <div>
          Delegates are expected to have basic knowledge of object-oriented programming as well as at least 1 month of
          hands-on experience with an object-oriented programming language, for example C# or Java.
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="type === 'b'">
      <mark class="__text-top">
        Individuals who will perform the <br>
        <b>Product Owner</b> role on Scrum projects, such as:
      </mark>

      <div class="__text-r">
        Sponsors <br>
        Stakeholders <br>
        Product Management <br>
        Business Analysts
      </div>
    </ng-container>
  </div>

  <div></div>
</div>
