@import "core";

$who-img-1: url('/assets/img/who_1.jpg');
$who-img-2: url('/assets/img/who_2.jpg');

%text-big {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  font-size: 7.3vw; // rem(140);
  font-weight: 900;
  line-height: 0.86;
  letter-spacing: rem(-11.2);
  color: rgba(255, 255, 255, 0.85);

  transform: translate(-15%, -50%);
}

:host {
  position: relative;

  display: flex;
  align-items: center;

  height: rem(550);

  font-size: rem(25);
  font-weight: 300;
  line-height: 1.2;
  color: #707a84;

  background-color: var(--cl-pale-lilac-two);

  overflow: hidden;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;

    content: '';

    background: $who-img-1 no-repeat top center/cover;
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 1;

    content: '';

    box-shadow: rem(100) 4px rem(77) rem(92) var(--cl-pale-lilac-two);
  }

  &.--second {
    &:before {
      background: $who-img-2 no-repeat top center/cover!important;
    }
  }
}

.__left {
  position: relative;
  z-index: 1;

  padding: 10% 20% 10% 0;

  &:before {
    @extend %text-big;

    content: 'WHO \0a SHOULD \0a ATTEND?\0a';
    white-space: pre;
  }
}

.__title {
  font-weight: 900;
}

.__text {
  max-width: rem(345);
}

.__text-top {
  margin: -15% 0 0  -3.5vw;

  font-size: rem(18);
}

.__text-r {
  margin-top: 18%;

  font-size: rem(24);
  font-weight: 400;
  line-height: 1.84;
  text-align: right;
}

