@import 'core';

:host {
  position: relative;

  display: inline-flex;
  align-items: center;


  //* Disabled styles
  &.--disabled > .__input,
  & > .__input:disabled {
    pointer-events: none !important;

    & ~ div .__mark,
    & ~ div .__label {
      opacity: 0.5 !important;
    }
  }
}

.__input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  opacity: 0;

  &.--is-checked ~ div .__mark,
  &:checked ~ div .__mark {
    color: $checkbox-active-color !important;
    border-color: transparent !important;
    background-color: $checkbox-active-background-color !important;
  }

  &:not(.__input--is-checked) ~ div .__mark,
  &:not(:checked) ~ div .__mark {
    color: transparent;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &.--is-error ~ div .__mark{
    border-color: $validation-color !important;
  }
}

.__label {
  margin: $checkbox-label-offset;

  font-size: $checkbox-label-font-size;
  line-height: 138%;

  color: $checkbox-label-color;

  &:empty {
    display: none;
    margin: 0;
  }
}

.__mark {
  width: $checkbox-mark-size;
  min-width: $checkbox-mark-size;
  height: $checkbox-mark-size;
  min-height: $checkbox-mark-size;

  margin: 0;

  color: $checkbox-mark-color;

  border-radius: $checkbox-mark-radius;
  border: $checkbox-mark-border-size solid $checkbox-mark-color;
  background-color: $checkbox-background;

  &:before {
    margin: auto;

    @include pseudo-icon($agi-check, rem(12));

    transform: translate(0, 0.1px);
  }
}
