@import "core";


:host {
  &.--second {
    .__btn {
      max-width: rem(370);

      padding: rem(16) 10% rem(16) rem(15);

      font-size: rem(14);
      line-height: 1.29;
      letter-spacing: -0.7px;
      color: var(--cl-steel);

      border-radius: rem(8);
      background: #f1f0f3;

      @include only-mouse{
        &:hover{
          background: var(--cl-pale-lilac-two);
        }
      }
    }
  }

  //&.--large {
  //  font-size: ;
  //}
}

.__btn {
  padding: 0;

  font-size: rem(10);
  color: #a8b1bb;

  line-height: 1.3;
  text-align: left;

  border: none;
  background: none;

  @include only-mouse{
    &:hover{
      color: $cl-red;
    }
  }
}

@include insert-icons {
  font-size: rem(51);
}
