<article class="container" gdGap="1.875rem">
  <header>
    <agl-heading>Course Options</agl-heading>
  </header>

  <div gdColumns.gt-sm="1fr 1fr" gdGap="1.875rem">
    <div>
      <agl-heading class="--large --revert" first="Days" second="03"></agl-heading>

      <ol class="list-num --of-label">
        <li>Test Driven Development, Collaborative Programming and Continuous Integration</li>
        <li>Behaviour Driven Development and Code Quality</li>
        <li>Architecture and Legacy Code</li>
      </ol>
    </div>

    <div>
      <agl-heading class="--large --revert" first="Days" second="04"></agl-heading>

      <ol class="list-num --of-label">
        <li class="--is-yellow">Certified ScrumMaster Training</li>
        <li class="--is-yellow">Certified ScrumMaster Training</li>
        <li>Test Driven Development, Collaborative Programming and Continuous Integration</li>
        <li>Behaviour Driven Development and Code Quality</li>
        <li>Architecture and Legacy Code</li>
      </ol>
    </div>
  </div>
</article>
