@import "core";

:host {
  display: inline-flex;
  align-items: center;

  font-size: rem(22);
  font-weight: 800;
  line-height: 1.18;
  letter-spacing: -1.1px;
  color: var(--cl-steel);

  &.--second {
    font-size: rem(38);
    letter-spacing: -1.6px;

    color: var(--cl-slate-grey);

    &:before {
      margin-right: rem(6);

      font-weight: 600;
      @include pseudo-icon($agi-arrow-rt-r, 28);
      color: var(--cl-white);
    }

    .__day {
      sup {
        color: var(--cl-slate-grey);
      }
    }

    div {
      flex-flow: row wrap !important;
    }
  }
}

.__day {
  &:after {
    content: ',';
    font-weight: 300;
    color: #a8b1bb;
  }

  &:last-of-type {
    &:before {
      content: '&';
      font-weight: 300;
      color: #a8b1bb;
    }

    &:after {
      content: none !important;
    }
  }

  /*
    &:not(:last-of-type) {
      &:after {

      }
    }*/

  sup {
    top: -0.6em;

    margin-left: rem(3);

    font-size: 0.60em;
    font-weight: 500;
    text-transform: none;
    color: #a8b1bb;
  }
}

.__month {
  &:after {
    font-weight: 300;
    color: #a8b1bb;
    content: ',';
  }
}

@include max-wide(phones) {
  :host {
    &.--second {
      font-size: rem(32);

      div {
        justify-content: start !important;
        flex-flow: row wrap !important;
      }
    }
  }
}
