@import "core";

:host {
  position: fixed;
  top: var(--header-top);
  left: 0;
  right: 0;

  min-height: var(--header-hgt);

  padding: rem(10) 0;

  color: var(--cl-white);

  background-color: rgba(clr('slate-grey'), 0.2);
  background: red;
}

.__nav {
  margin: 0 auto 0;
  white-space: nowrap;
}

.__link {
  padding: 0 rem(10);

  font-weight: 500;
  text-shadow: 0.5px 0.9px rem(4) rgba(2, 3, 3, 0.3);

  font-size: rem(16);

  &.--tell {
    letter-spacing: rem(-0.43);
    font-size: rem(17);
    font-weight: 600;
    text-shadow: $sh-text;

  }
}

.__right {
  white-space: nowrap;
}
