@import "core";

$header-spacer: rem(10);

:host {
  //--link-color: #{var(--cl-white)};
  --link-color-hover: #{var(--cl-white)};

  position: fixed;
  top: var(--header-top);
  left: 0;
  right: 0;
  z-index: z-index(header);

  min-height: var(--header-hgt);

  padding: $header-spacer 0;

  color: var(--cl-white);

  background-color: rgba(clr('slate-grey'), 0.4);

  //background: red;
}

.__nav {
  margin: (-$header-spacer) auto;
  white-space: nowrap;
}

.__btn-menu {
  margin: auto 0 auto auto;
}

.__link {
  position: relative;

  padding: 0 rem(10);

  font-weight: 500;
  text-shadow: 0.5px 0.9px rem(4) rgba(2, 3, 3, 0.3);

  font-size: rem(16);

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: var(--header-link-before-bottom, 100%);
    z-index: -1;

    content: var(--header-link-before, '');

    clip-path: polygon(0 0, 100% 0%, 100% 71%, 0% 100%);

    background-color: var(--cl-slate-grey);
    transition: bottom .33s linear;
    opacity: 0.4;
  }

  &[ngbDropdown] {
    padding-right: rem(16);

    &:after {
      position: absolute;
      top: 50%;
      right: 0;

      @include pseudo-icon($agi-arrow-dw, 12);

      border: none !important;

      transform: translate(0, -50%);
    }

    &.show {
      &:after {
        transform: translate(0, -50%) rotate(-180deg);
      }
    }
  }

  &.--active {
    --header-link-before-bottom: #{rem(-26)};
  }

  @include only-mouse {
    &:hover {
      --header-link-before-bottom: #{rem(-26)};
    }
  }

  //&:not([ngbDropdown]) {
  //
  //}

  &.--tell {
    --header-link-before: none;
    --link-color-hover: #{var(--cl-yellow-orange)};

    margin-left: rem(30);

    letter-spacing: rem(-0.43);
    font-size: rem(17);
    font-weight: 600;
    text-shadow: $sh-text;
  }
}

.__right {
  white-space: nowrap;
}

.__dropdown {
  width: rem(400);

  margin-top: -1px;
  padding: rem(24) rem(10) 58%;

  color: var(--cl-white);

  border-radius: 0;

  clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%);
  background-color: var(--cl-slate-grey);

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    bottom: rem(-10);
  }
}

.__dropdown-item {

  padding: 0;

  color: var(--cl-white);
  line-height: 1.2;
  white-space: normal;

  &:before {
    width: max-content;
    margin-right: rem(5);
    content: '-';
  }

  &.--is-active {
    span {
      position: relative;

      &:after {
        position: absolute;
        top: 100%;
        left: 2px;
        right: 2px;

        height: rem(2);

        margin: rem(-2) 0 0;
        content: '';

        background: #96a1af;
      }
    }
  }

  @include only-mouse {
    &:hover {
      background: transparent;
    }
  }
}

.__s-logo {
  transform: translate(0, 6px);
}
