<article gdColumns="max-content 1fr 23.125rem" gdGap="1.75rem">
  <agl-services-logos class="--s62" [usedLogo]="['a-csm']"></agl-services-logos>

  <div>
    <div class="__name">{{ name }}</div>
    <div class="__category">In-Person, <strong>Live Online Training</strong></div>

    <p class="__desk">{{ description }}</p>
  </div>

  <div>
    <figure>
      <img [attr.src]="image" alt="">
    </figure>
    <div fxLayoutAlign="center center end" fxLayoutGap="1.75rem">
      <agl-link class="--arrow --y-orange">Find out more</agl-link>
      <agl-button class="--yellow-orange">Book Your Place</agl-button>
    </div>
  </div>
</article>
