@import "core";

.__name {
  font-size: rem(28);
  font-weight: 300;
  line-height: 0.93;
  text-transform: uppercase;
  letter-spacing: -1.4px;

  color: var(--cl-bluey-grey);

  strong {
    font-weight: 800;
  }

  mark {
    font-weight: 900;
    letter-spacing: -2.8px;
    color: #667a84;
  }
}

.__type {
  margin: rem(30) 0 rem(24);

  font-size: rem(22);

  line-height: 1.18;
  text-transform: uppercase;
  letter-spacing: -1.1px;
  color: var(--cl-steel);

  strong {
    font-weight: 800;
    //letter-spacing: 1.1px;
  }
}

.__label {
  margin-bottom: rem(10);
}

.__bottom {
  margin-top: rem(30);
}

.__desk {
  margin-top: rem(50);

  font-size: rem(15);
  font-weight: 300;
  line-height: 1.87;
  color: var(--cl-slate-grey);

  @include text-dot-vertical(5)
}

.__status {
  font-size: rem(13);
  line-height: 1.38;
  color: var(--cl-bluey-grey);

  span {
    font-weight: 600;
    color: var(--cl-steel);
  }
}

.__picture {
  width: 100%;

  border-radius: $elemRadius;

  overflow: hidden;
}

.__available {
  margin-top: rem(20);

  text-transform: uppercase;

  strong{

  }
}

@include max-wide(phonesLg) {
  .__picture {
    margin-bottom: rem(30);
  }
}
