<!--<label class="__label">{{ label }}</label>-->

<div class="__group" [class.--is-error]="isError">
    <mark class="__msg" *ngIf="isError">
      <agl-validation-messages
        [errorsMsg]="errorsMsg"
      >
      </agl-validation-messages>
    </mark>

  <input
    class="__input"
    [type]="type"
    [placeholder]="!importantPlace? placeholder: ''"
    [disabled]="disabled"
    (ngModelChange)="onChange($event)"
    (keyup)="onChange($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    [(ngModel)]="value?.address || value"
    [attr.inputmode]="inputMode"
    #inputRef
  />

  <div class="__placeholder" *ngIf="!value && importantPlace">{{ placeholder }}</div>
</div>
