<article class="container" gdGap="2.125rem">
  <div>
    <agl-heading>Meet The Team</agl-heading>
  </div>

  <div class="" gdGap="2.2rem">
    <div gdGap="1rem">
      <agl-heading class="--second">Nigel Baker</agl-heading>
      <p>
        Nigel is a Certified Scrum Trainer – one of only a few in the UK. He has been working with Agile techniques for
        over 12 years and was one of the Lead Agile Consultants for BT – Who undertook the largest Agile transformation
        in the world, at that time.
      </p>
      <p>
        Nigel’s background includes being a software developer in traditional and Scrum teams before moving into Project
        Management and ScrumMaster roles on many projects across the IT sector. Nigel has been coaching and training
        Scrum and Agile techniques for the last decade and is regarded as one of the leading experts in training in this
        industry.
      </p>
    </div>

    <agl-team-photo [src]="'team-member-1.jpg'"></agl-team-photo>

    <agl-team-photo class="--small" [src]="'team-member-2.jpg'"></agl-team-photo>

    <agl-team-photo class="--small" [src]="'team-member-3.jpg'"></agl-team-photo>

    <agl-team-photo class="--small" [src]="'team-member-4.jpg'"></agl-team-photo>
  </div>
</article>
