<article class="container" gdGap="2.125rem">
  <header gdGap="3rem">
    <agl-heading class="--quotes" first="In-Person, "second="Live Online Training"></agl-heading>
    <agl-heading>Introduction</agl-heading>
  </header>

  <div gdColumns.gt-sm="repeat(auto-fit, minmax(26.875rem, 1fr))" gdGap="2rem">
    <article gdGap="1rem">
      <p>
        The Certified ScrumMaster Training is the core component of our training portfolio. Scrum is an iterative,
        incremental process for developing any product or managing any work.
      </p>
      <p>
        The industry-recognised Certified ScrumMaster Training is the perfect building block to educate and certify
        your people. Through exercises and peer discussions, attendees realize how much they rely on habits that lower
        productivity, quality, and return on investment. They also get to experience first-hand how a change to Scrum
        practices works and feels.
      </p>
      <p>
        Through a mixture of class room study, exercises, pair discussions and real-world trainer experiences, an
        attendee will learn how a Scrum project works and how to facilitate and coach a Scrum project.
      </p>

      <p>
        Techniques we will investigate include Vision Creation, the use of the Product Backlog, Backlog Formatting
        Techniques, Story Point Estimation, and how to use this to formulate a release plan.
      </p>
    </article>

    <article gdGap="1rem">
      <p>
        We’ll learn about how Sprint Backlogs (the lower level of planning in Scrum) can work and we’ll experience it
        for ourselves in a case study. Many people struggle to get the Daily Scrum ceremony working effectively, but you
        won’t – after hearing some AgileBear primers for helping you maximize the benefit for the team from this key
        principle.
      </p>

      <p>
        You will experience how to coach your team through planning and through the powerful inspect and adapt technique
        of retrospectives. How to report this information in a clear and simple format is the key objective of Burndown
        Charts – which we’ll discuss in depth. Finally, you will discover our learning in how to apply Scrum to an
        enterprise environment. Scaling and distribution will be the key areas of investigation in this final session.
      </p>
      <p>
        With a course content and delivery technique consistently rated as “Excellent” by our attendees, our Private and
        Public CSM options should be considered an essential for any Agile training.
      </p>
    </article>
  </div>
</article>
