<div class="container" gdGap="2.4375rem">
    <agl-heading>The Agile Bear Training Portfolio…</agl-heading>

  <div  gdGap="1.875rem" gdColumns="repeat(auto-fit, minmax(10.625rem,1fr))">
    <a class="__card"
       gdGap=".8rem"
       gdRows="6.25rem 3rem"
       gdAlignColumns="center center"
       gdAlignRows="center center"
       *ngFor="let item of list"
       [routerLink]="item.link">
      <agl-services-logos class="--s100" [usedLogo]="[item.icon]" [popoverTrigger]="true"></agl-services-logos>

      <span fxLayoutAlign="center center">{{item.name}}</span>
    </a>
  </div>
</div>
