@import "core";

$top-panel-bg-1: url('/assets/img/p-home.jpg');
$top-panel-bg-2: url('/assets/img/p-training.jpg');
$top-panel-bg-3: url('/assets/img/p-services.jpg');
$top-panel-bg-4: url('/assets/img/p-contact.jpg');

:host {
  display: flex;
  flex-direction: column;

  min-height: rem(550);

  margin: calc(var(--header-hgt) * (-1)) 0 0;
  padding: 0 0 rem(36);

  background: var(--top-pannel-img, $top-panel-bg-1) no-repeat top center / cover;
  overflow: hidden;

  &.--second {
    --top-pannel-img: #{$top-panel-bg-2}
  }

  &.--third {
    --top-pannel-img: #{$top-panel-bg-3};
    --top-panel-tr-op-b: 1;
  }

  &.--fourth {
    --top-pannel-img: #{$top-panel-bg-4};
    --top-pannel-color: var(--cl-white);
  }

  &, .container {
    position: relative;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 6%;
    bottom: 2%;

    content: '';

    clip-path: polygon(0 0, 100% 0, 0 100%);

    background: rgba(clr('white'), var(--top-panel-tr-op-a, .25));
  }

  &:after {
    position: absolute;
    top: 60%;
    left: 0;
    right: 61%;
    bottom: 0;

    content: '';

    clip-path: polygon(0 0, 0% 100%, 100% 100%);

    background: rgba(clr('white'), var(--top-panel-tr-op-b, .2));
  }
}

.__capt {
  padding: calc(var(--header-hgt) + #{rem(139)}) 0 rem(112);

  text-shadow: 1px 1.7px 5px rgba(2, 3, 3, 0.25);
  font-size: rem(78);
  font-weight: 900;
  line-height: 0.85;
  letter-spacing: rem(-6.2);
  text-transform: uppercase;
  color: var(--cl-white);
}

.__capt-1 {
  color: var(--top-pannel-color, var(--cl-slate-grey));
}

.__capt-3 {
  font-size: rem(64);
  font-weight: 200;
  line-height: 0.75;
  letter-spacing: rem(-3.9);

  opacity: 0.9;
}

.__logo {
  position: absolute;
  left: rem(16);
  bottom: rem(-44);
  z-index: 1;
}

@include max-wide(tablet) {
  :host {
    padding: 0 0 rem(60);
  }

  .__capt {
    padding: calc(var(--header-hgt) + #{rem(90)}) 0 rem(10);
    font-size: rem(56);
  }

  .__capt-3 {
    font-size: rem(52);
  }
}

@include max-wide(phones) {
  :host {
    &:after {
      right: 40% !important;
    }
  }

  .__capt {
    font-size: rem(44);
  }

  .__capt-3 {
    font-size: rem(40);
  }
}

@include min-wide(notebookLg) {
  :host {
    &:after {
      top: 55%;
      right: 59%;
    }
  }
}
