<div class="container" fxFlex="1 1" fxLayoutAlign="start center">
  <ng-container *ngIf="(type === 'home') || (type === null)">
    <h1 class="__capt" fxLayout="column">
      <mark class="__capt-1">Agile Bear</mark>
      <mark class="__capt-2">Certified Scrum Training</mark>
      <mark class="__capt-3">& Consultancy</mark>
    </h1>
  </ng-container>

  <ng-container *ngIf="type === 'services'">
    <h1 class="__capt" fxLayout="column">
      <mark class="__capt-1">Advanced</mark>
      <mark class="__capt-2">Certified ScrumMaster</mark>
      <mark class="__capt-3">Training</mark>
    </h1>

    <div class="__logo">
      <agl-services-logos class="--s100" [usedLogo]="['a-csm']" [popoverTrigger]="false"></agl-services-logos>
    </div>
  </ng-container>

  <ng-container *ngIf="type === 'training'">
    <h1 class="__capt" fxLayout="column">
      <mark class="__capt-1">Agile Bear</mark>
      <mark class="__capt-2">Certified Product Owner</mark>
      <mark class="__capt-3">& Training Event</mark>
      <agl-event-date-line class="--second gm-mt-2" [days]="[2,3,4]" [month]="'March'"
                           [year]="2021"></agl-event-date-line>
    </h1>
  </ng-container>

  <ng-container *ngIf="type === 'contact'">
    <h1 class="__capt" fxLayout="column">
      <mark class="__capt-1">Get in Touch</mark>
      <mark class="__capt-3">Were here to help</mark>
    </h1>
  </ng-container>
</div>
