@import "core";

$top-panel-bg-1: url('/assets/img/p-home.jpg');
$top-panel-bg-2: url('/assets/img/p-training.jpg');
$top-panel-bg-3: url('/assets/img/p-services.jpg');

:host {
  display: flex;
  flex-direction: column;

  min-height: rem(560);

  margin: calc(var(--header-hgt) * (-1)) 0 0;
  padding: 0 0 rem(112);

  background: var(--top-pannel-img, $top-panel-bg-1) no-repeat top center / cover;
  overflow: hidden;

  &.--second {
    --top-pannel-img: #{$top-panel-bg-2}
  }

  &.--third {
    --top-pannel-img: #{$top-panel-bg-3}
  }
}

.__capt {
  padding: calc(var(--header-hgt) + #{rem(150)}) 0 rem(112);

  text-shadow: 1px 1.7px 5px rgba(2, 3, 3, 0.25);
  font-size: rem(78);
  font-weight: 900;
  line-height: 0.85;
  letter-spacing: rem(-3.9);
  text-transform: uppercase;
  color: var(--cl-white);
}

.__capt-1 {
  color: var(--cl-slate-grey);
}

.__capt-3 {
  font-size: rem(64);
  font-weight: 200;
  line-height: 0.75;

  opacity: 0.9;
}
