<footer class="__footer container" fxLayout="column">
  <article class="__book" gdColumns="4.875rem 1fr 1fr" gdGap="1.5rem">
    <figure class="__figure">
      <!--      <img src="assets/img/agilebear_csm.png" alt="">-->

    </figure>

    <agl-services-place></agl-services-place>

    <div fxLayoutGap="2rem" fxLayoutAlign="center center">
      <agl-button-download>DOWNLOAD<BR>TRAINING<BR>PORTFOLIO</agl-button-download>
      <agl-button class="--upload"></agl-button>
    </div>
  </article>

  <agl-services-logos [usedLogo]="logos"></agl-services-logos>
  <agl-services-logos></agl-services-logos>

  <article class="__book" gdColumns=" 1fr 1fr" gdGap="1.5rem">


    <div fxLayoutGap="2rem" fxLayoutAlign="center center">
      <agl-button-download>DOWNLOAD<BR>TRAINING<BR>PORTFOLIO</agl-button-download>
      <agl-button class="--upload"></agl-button>
    </div>
  </article>

  <article class="__content" fxFlex="1 1">
    <p class="__text-l">
      <mark>*</mark>
      <span>
          During the world crisis, the ScrumAlliance are permitting us to offer you the opportunity to attend live online
        courses. These virtual workshops comply with the ScrumAlliance values, standards and certifications. They
        include at least14 hours of face-to-face time with our world-leading Certified Scrum Trainer Nigel Baker. As
        with our in-person events, Nigel will deliver each exercise-driven workshop with energy, experienceand
        practical content. But better yet, to make the online experience more pleasant for you, wewill run our
        traditionally two-day events over three shorter days. We want to ensure yourexperience is enjoyable,
        sustainable and to support your work-life balance.
        </span>
    </p>

    <p class="__text-r">
      “Your obvious enthusiasm and knowledge makes the time fly and brings to life the material!”
    </p>
  </article>

  <article class="__down" gdGap="1rem" gdColumns="1fr 2fr 1fr" gdAlignColumns="center">
    <div fxLayout="inline" fxLayoutGap="0.625rem">
      <a class="agi-soc-fb"></a>
      <a class="agi-soc-tw"></a>
      <a class="agi-soc-ln"></a>
    </div>

    <div class="__copy">
      © 2021 AgileBear Limited. All Rights Reserved.
      <br>
      <span>Registered Company Number: 6453580 VAT Number: 924403937</span>
    </div>

    <div fxLayoutGap="1rem" fxLayoutAlign="center">
      <agl-link [link]="'/privacy'">Privacy Policy</agl-link>
      <span>|</span>
      <agl-link [link]="'/terms-of-use'">Terms Of Use</agl-link>
    </div>
  </article>
</footer>
