@import "core";

$footer-color-main: var(--footer-color-main, var(--cl-yellow-orange));

:host {
  position: relative;

  display: grid;

  padding: rem(63) 0 rem(10);

  min-height: rem(500);

  overflow: hidden;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;

    content: '';
  }

  &:before {
    top: 62%;
    right: 63%;
    left: 0;

    min-height: rem(188);

    clip-path: polygon(100% 100%, 0 0, 0 100%);
    background: var(--footer-plash-bg-l, $footer-color-main);
  }

  &:after {
    right: 0;
    left: 2%;
    z-index: -2;

    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background: var(--footer-plash-bg-r, var(--cl-pale-lilac));
  }

  &.--second {
    --footer-color-main: var(--cl-orange)
  }

  &.--gray {
    --footer-color-main: var(--cl-steel)
  }
}

.__content {
  position: relative;
}

.__text-r {
  position: absolute;
  right: rem(-25);
  bottom: rem(0);
  margin: 0;
  max-width: rem(496);

  font-size: rem(28);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -2px;
  color: var(--cl-bluey-grey);
}

.__links {
  margin: auto auto auto -19%;
}

.__text-l {
  position: relative;

  margin: rem(22) 0 0;

  font-size: rem(11);
  font-weight: 300;
  line-height: 1.64;
  color: var(--cl-steel);

  mark {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;

    font-size: rem(28);
    font-weight: bold;
    line-height: 1;
    color: $footer-color-main;
  }

  &:before {
    float: right;

    height: 14vh;
    width: 242%;

    content: "";

    shape-outside: polygon(80% 0, 59% 173%, 80% 268%);
  }

  &.--mark {
    padding: 0 0 0 rem(15);
  }
}

.__down {
  --link-color: currentColor;

  margin: rem(80) 0 0;

  color: var(--cl-steel);

  @include insert-icons {
    max-width: rem(40);
    height: rem(40);

    font-size: rem(40);
    color: var(--cl-white);

    @include only-mouse {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.__copy {
  margin: auto auto rem(-6);

  max-width: rem(380);

  font-size: rem(15);
  line-height: 1.25;
  text-align: center;
  color: var(--cl-steel);

  span {
    font-weight: 300;
    font-size: rem(11);
  }
}

.__book {
  position: relative;

  margin: 0 16% 0 0;
  padding: rem(5) 7% rem(5) 0;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30vw;
    right: rem(40);
    z-index: -1;

    content: '';

    border: 1px solid var(--cl-pale-lilac-two);
    border-left: none;
    border-right: none;

    transform: skewX(108deg);
  }

  &.--a {
    margin: 7.5% 33% 0 0;
  }
}

.__btn-center {
  margin: 0 auto -22%;
}

@include max-wide(laptop) {
  .__text-r {
    position: static;

    margin: rem(32) 0 0 auto;

    text-align: right;
  }

  .__book:before {
    transform: skewX(
        144deg
    );
  }

  .__book {
    padding-top: rem(20);
    padding-bottom: rem(20);
  }

  .__btn-center {
    margin: 0 auto;
  }

  .__text-l:before {
    width: 200%;
  }

}

@include max-wide(tablet) {

}

@include max-wide(phonesLg) {
  :host {
    &:before {
      top: 63%;
      right: 20%;
    }

    &:after {
      top: 37%;

      left: 4%;
    }
  }

  .__text-l:before {
    height: 14vh;
    width: 54%;
    shape-outside: polygon(100% 0, 0% 242%, 100% 100%);
  }

  .__copy {
    text-shadow: $sh-text;
  }

  .__down {
    text-shadow: $sh-text;
  }

  .__book {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
}

@include min-wide(notebookLg) {
  :host {
    &:before {
      top: 50%;
      right: 61%;
    }

    &:after {
      //right: 0;
      left: 8%;
    }
  }

  .__book {
    &:before {
      right: rem(0);

      transform: skewX(104deg);
    }
  }
}
