%input-host {
  display: inline-grid;
  grid-gap: rem(16);

  font-family: $font-family-primary;
  font-size: rem(16);
  color: $input-color;
  line-height: 1.88;
  letter-spacing: -0.4px;

  //* Disabled styles
  &.--disabled,
  & > .__input:disabled {
    opacity: $disabled-opacity;

    pointer-events: none !important;
  }

  &.--disabled > .__input,
  & > .__input:disabled {
    --input-br-color: #{$disabled-bg-color} !important;
    --input-bg-color: #{$disabled-bg-color-second} !important;

    color: $disabled-color !important;
  }
}

%input-label {
  margin: 0;

  color: var(--input-label-color, inherit);

  line-height: 1;
  text-align: initial;

  &:empty {
    display: none;
  }
}

%input-field-container {
  position: relative;
  z-index: 1;

  background-color: $input-background;
  border-radius: $input-border-radius;
}

%input-field {
  height: var(--input-hgt, rem(40));
  width: var(--input-wdh, 100%);

  padding: var(--input-pdd, rem(12) rem(12));

  line-height: normal;

  outline: none;

  font-size: rem(16);
  font-weight: 500;

  border: $input-border;
  background: transparent;
  border-radius: $input-border-radius;
  color: inherit;

  transition: $input-transition;

  @include placeholder {
    font-weight: normal;
    letter-spacing: normal !important;
    color: $input-placeholder;
  }

  &:focus,
  &:hover {
    --input-br-color: #{$input-focus-bg-color};
  }

  &[type='password'] {
    letter-spacing: rem(3);
  }
}

%input-messages {
  //@extend %validation-message-position-left;
  @include validation-message-empty(input, --input-br-color, $validation-color);

  position: absolute;
  top: rem(13);
  right: rem(20);
}
