%validation-message {
  font-size: $validation-font-size;
  font-weight: $validation-font-weight;
  //font-style: $validation-font-style;
  color: $validation-color;
  line-height: 1;
  letter-spacing: 0.4px;

  background-color: $validation-bg-color;
}

%validation-message-position-right {
  position: absolute;
  right: $validation-position-x;
  bottom: $validation-position-y;

  text-align: right;
}

%validation-message-position-left {
  position: absolute;
  bottom: $validation-position-y;
  left: $validation-position-x;
}

@mixin validation-message-empty($elm-name, $elm-var-name, $elm-color) {
  &:empty {
    display: none;
  }

  &:not(:empty) ~ #{$elm-name} {
    #{$elm-var-name}: #{$elm-color} !important;
  }
}
