<div class="container">
  <form [formGroup]="form" (submit)="onSubmit($event)" fxLayout="column" fxLayoutGap="2.375rem">
    <article fxLayout="column" fxLayoutGap="0.375rem">
      <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <agl-heading class="--second">Your Details</agl-heading>
        <div class="__right"><span>*</span>Your Details</div>
      </div>
      <div gdColumns.gt-xs="1fr 1fr" gdGap="0.875rem 1.875rem">
        <agl-input placeholder="First name"
                   formControlName="firstName"
                   [submitted]="isSubmitted"
                   [autofocus]="false"
                   errorsMsg="is required"></agl-input>

        <agl-input placeholder="Last name" [importantPlace]="true"
                   formControlName="lastName"
                   [submitted]="isSubmitted"
                   [autofocus]="false"
                   errorsMsg="is required"></agl-input>

        <agl-input placeholder="Email Address"
                   formControlName="email"
                   [submitted]="isSubmitted"
                   [autofocus]="false"
                   [importantPlace]="true" errorsMsg="is required"></agl-input>

        <agl-input placeholder="Mobile Number" [importantPlace]="true"
                   formControlName="mobNumber"
                   [submitted]="isSubmitted"
                   [autofocus]="false"
                   errorsMsg="is required"></agl-input>

        <agl-input placeholder="Job Title"
                   [submitted]="isSubmitted"
                   [autofocus]="false"
                   formControlName="jobName">
        </agl-input>

        <agl-input placeholder="Company"
                   [submitted]="isSubmitted"
                   [autofocus]="false"
                   formControlName="companyName">
        </agl-input>
      </div>
    </article>

    <article fxLayout="column" fxLayoutGap="0.4375rem">
      <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <agl-heading class="--second">What Would You Like To Talk To Us About?</agl-heading>
      </div>

      <div gdColumns.gt-xs="1fr 1fr" gdGap="0 1.875rem">
        <ng-select
          [ngClass]="{ 'select-error': isSubmitted  }"
          ng-select-validation-msg="an option is required"
          [placeholder]="'Please select...'"
          [items]="whatWouldData"
          bindLabel="name"
          bindValue="id"
          formControlName="whatWouldSelect"
          [(ngModel)]="selectedWouldData"
          (change)="onWouldDataChanged($event)">
        </ng-select>
        <span></span>
      </div>
    </article>

    <article fxLayout="column" fxLayoutGap="0.875rem" *ngIf="selectedCoursesData === 2">
      <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <agl-heading class="--second">Which course would you like to cancel your booking for?</agl-heading>
      </div>

      <div gdColumns.gt-xs="1fr 1fr" gdGap="0 1.875rem">
        <ng-select [placeholder]="'Please select'"
                   [items]="coursesData"></ng-select>
        <span></span>
      </div>
    </article>

    <article fxLayout="column" fxLayoutGap="0.875rem">
      <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <agl-heading class="--second --valid">WHich Course(s) Are You Interested In?</agl-heading>
      </div>
      <div class="__chek-group" gdColumns.gt-xs="1fr 1fr" gdGap="0.1875rem 1.875rem">
        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['csm']"></agl-services-logos>
            <span>Certified ScrumMaster Training</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['cspo']"></agl-services-logos>
            <span>Certified Product Owner Training</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['tcc']"></agl-services-logos>
            <span>The Cultural Change</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['csm']"></agl-services-logos>
            <span>Advanced Certified ScrumMaster Training</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['cspo']"></agl-services-logos>
            <span>Advanced Certified Product Owner Training</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['usw']"></agl-services-logos>
            <span>User Story Workshops</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['acs']"></agl-services-logos>
            <span>Agile Coaching Sessions</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['lw']"></agl-services-logos>
            <span>Lean Workshops</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['so']"></agl-services-logos>
            <span>Scrum Overview</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['so']"></agl-services-logos>
            <span>Testing On Agile Projects: A Roadmap For Success</span>
          </span>
        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['cst']"></agl-services-logos>
            <span>Certified Scrum Developer Training</span>
          </span>

        </agl-checkbox>

        <agl-checkbox fxLayoutAlign="start">
          <span gdInline gdColumns="max-content 1fr" gdAlignColumns="start start" gdGap="0.3rem">
            <agl-services-logos class="--s22 gm-mt-2" [usedLogo]="['eocfc']"></agl-services-logos>
            <span>Enterprise Organisation Change For Coaches</span>
          </span>
        </agl-checkbox>
      </div>
    </article>

    <article class="__last" fxLayout="column" fxLayoutGap="0.875rem">
      <article fxLayout="column" fxLayoutGap="0.875rem">
        <agl-heading class="--second">Message</agl-heading>

        <agl-textarea
          placeholder="Please let us know any other relevant information about your enquiry…"></agl-textarea>
      </article>

      <article fxLayout.lt-md="column"
               fxLayoutGap.gt-md="2.8125rem" fxLayoutGap.lt-md="1.5rem"
               fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="stretch">
        <div fxLayout="column" fxLayoutGap="0.825rem">
          <agl-heading class="--second --valid">Privacy</agl-heading>

          <agl-checkbox fxLayoutAlign="start" formControlName="iAgree">
          <span class="__bottom-ch">
            I understand and agree to the AgileBear
            <agl-link class="--y-orange --arrow" [link]="'/privacy-policy'"> Privacy Policy</agl-link>
          </span>
          </agl-checkbox>
        </div>

        <div class="__recaptcha" fxLayoutAlign="center center">
          this should be your recaptcha
        </div>

        <div fxLayout="inline" fxLayoutGap="0.625rem" fxLayoutAlign="end center">
          <agl-button>Reset Form</agl-button>

          <agl-button class="--yellow-orange" type="submit">Send Message</agl-button>
        </div>
      </article>
    </article>

  </form>
</div>
