@import "core";

:host {
  --container-limit: #{rem(1000)};

  display: block;

  padding: $sectionSpacer 0;

  background-color: var(--cl-pale-grey);
}

.__right {
  font-size: rem(15);
  font-weight: 300;

  line-height: 2;
  letter-spacing: -0.38px;
  text-align: right;
  color: var(--cl-bluey-grey);

  span {
    font-size: rem(16);
    font-weight: normal;
    letter-spacing: -0.4px;
    color: #dd0000;
  }
}

.__last {
  margin-top: rem(-10);
}

.__recaptcha {
  min-height: rem(77);


  border: solid 1px #d2d2d2;
  background-color: #f9f9f9;
}

.__bottom-ch {
  font-weight: 400;
}

@include min-wide(laptop) {
  .__bottom-ch {
    display: inline-block;
    max-width: rem(250);
  }

  .__recaptcha {
    width: rem(303);
  }
}
