@import "core";

:host {
  display: inline-flex;

  &.--s22 {
    --services-logos-wdh: #{rem(22)}
  }

  &.--s62 {
    --services-logos-wdh: #{rem(62)}
  }

  &.--s100 {
    --services-logos-wdh: #{rem(100)}
  }

  &.--gray {
    filter: grayscale(1) ; //hue-rotate(157deg);
  }
}


.__img {
  width: var(--services-logos-wdh, rem(78));

  object-fit: cover;
  object-position: center;
}
