@import "core";

:host {
  display: inline-flex;

  &.--s22 {
    --services-logos-wdh: #{rem(22)}
  }

  &.--s70 {
    --services-logos-wdh: #{rem(70)}
  }

  &.--s100 {
    --services-logos-wdh: #{rem(100)}
  }

  &.--gray {
    filter: grayscale(1);
  }
}

.__img {
  width: var(--services-logos-wdh, rem(78));

  object-fit: cover;
  object-position: center;
}

@include min-wide(phonesLg) {
  :host {
    &.--nowrap {
      figure {
        flex-flow: nowrap !important;
      }
    }
  }
}
