<figure fxLayout="inline row" fxLayout.lt-sm=" inline row wrap" fxLayoutGap="1.5rem"
        fxLayoutGap.lt-sm="1rem" fxLayoutAlign="center center">
  <img class="__img"
       *ngFor="let item of list"
       [attr.src]="[ 'assets/img/services/'+ (isGray ?  item.imgS : item.img )]"
       alt=""
       [disablePopover]="popoverTrigger"
       [popoverTitle]="item.caption"
       [ngbPopover]="item.text"
       [openDelay]="300" [closeDelay]="600"
       triggers="mouseenter:mouseleave"
  >
</figure>
