@import "core";

:host {
  display: block;

  font-stretch: normal;
  font-style: normal;
  font-size: rem(28);
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: rem(-2.2);

  font-weight: 800;
  color: var(--cl-bluey-grey);

  &.--second {
    font-size: rem(22);
    font-weight: bold;
    line-height: 1;
    letter-spacing: -1.1px;
  }

  &.--quotes {
    display: inline-flex;
    align-items: center;

    line-height: 1;

    &:before, &:after {
      font-size: rem(48);
      font-weight: 900;
      letter-spacing: rem(2.4);
      color: var(--cl-pale-violet);
    }

    &:before {
      content: '“';
    }

    &:after {
      content: '”';
    }

    span {
      font-weight: 300;
    }
  }

  &.--valid {
    .__last {
      color: $cl-red;
    }
  }

  &:not(.--quotes):not(.--valid) {
    .__last {
      display: none;
    }
  }

  &.--large {
    margin-left: rem(-12);
    margin-bottom: rem(33) !important;

    font-weight: 200;
    font-size: rem(110);
    letter-spacing: rem(-11);
    line-height: 1;
    color: var(--cl-pale-lilac);

    .__hard {
      margin-left: rem(-21);

      color: currentColor;
      letter-spacing: rem(-9);
    }
  }

  &.--small {
    margin-bottom: rem(24) !important;

    font-size: rem(18);

    text-transform: initial;
    line-height: 1.33;
    font-weight: 600;
    letter-spacing: 0!important;
    color: var(--cl-green);
  }

  &.--revert {
    margin-left: 0;
    span{
      margin-left: rem(-6);
      letter-spacing: rem(-13);
    }

    .__hard {
      order: -1;

      margin-left: 0;
    }
  }
}

.__hard {
  font-weight: 900;
  color: #667a84;
}

.__last {
  color: var(--cl-yellow-orange);
}


@include max-wide(phones) {
  :host {
    &.--second.--valid {
      div {
        display: inline-block!important;
      }
    }

  }
}
