<article class="container" gdGap="1.6875rem">
  <header>
    <agl-heading>What’s On Offer…</agl-heading>
  </header>

  <div gdColumns="repeat(auto-fit, minmax(20rem, 1fr))" gdGap="2rem">
    <article fxLayout="column" fxLayoutGap="1.6rem">
      <p>
        Agile Delivery is about creating quality, working deliverables that provide the highest possible business value
        while reducing the risk of undelivered projects.
      </p>
      <p>
        We at AgileBear work with you to develop and deliver the most appropriate training programme to ensure success
        in your Agile transformation. We can supplement our courses with extensive coaching programmes to bring this
        culture change out of the classroom and into your day to day workplace.
      </p>

      <mark class="__capt">Live Online Distance Learning</mark>
      <p>
        During the world crisis, the ScrumAlliance are permitting us to offer you the opportunity to attend live online
        courses.
      </p>
    </article>

    <article fxLayout="column" fxLayoutGap="1.6rem">
      <p>
        These virtual workshops comply with the ScrumAlliance values, standards and certifications. They include at
        least 14 hours of face-to-face time with our world-leading Certified Scrum Trainer Nigel Baker.

      </p>
      <p>
        As with our in-person events, Nigel will deliver each exercise-driven workshop with energy, experience and
        practical content. But better yet, to make the online experience more pleasant for you, we will run our
        traditionally two-day events over three shorter days.
      </p>
      <p>
        We want to ensure your experience is enjoyable, sustainable and to support your work-life balance.

      </p>

      <agl-button-download class="--second __btn">
        Download the Latest Version of the
        <br>Agile Bear Training Portfolio Here.
      </agl-button-download>

    </article>
  </div>
</article>
